/*  GRID COLUMN-GROUP SETUP   ==================================================================== */
.col_group {
	display: table;
	zoom: 1;
}

/*  GRID COLUMN SETUP   ==================================================================== */

.col {
	display: block;
	float:left;
	margin: 1.2% 0 1.2% 1.6%;
}

.col:first-child {
	margin-left: 0;
} /* all browsers except IE6 and lower */


/*  REMOVE MARGINS AS ALL GO FULL WIDTH AT 1024 PIXELS */

@media only screen and (max-width: 1024px) {
	.col { 
		margin: 1.2% 0 1.2% 1.2%;
	}
}

/*  REMOVE MARGINS AS ALL GO FULL WIDTH AT 480 PIXELS */

@media only screen and (max-width: 480px) {
	.col { 
		margin: 2% 0 2% 0;
	}
}

/*  GRID OF TWELVE - AT MORE THAN 1025 PIXELS ============================================================================= */

@media only screen and (min-width: 1025px) {
	.span_12_of_12 {
		width: 100%;
	}

	.span_11_of_12 {
		width: 91.53%;
	}

	.span_10_of_12 {
		width: 83.06%;
	}

	.span_9_of_12 {
		width: 74.6%;
	}

	.span_8_of_12 {
		width: 66.13%;
	}

	.span_7_of_12 {
		width: 57.66%; 
	}

	.span_6_of_12 {
		width: 49.2%; 
	}

	.span_5_of_12 {
		width: 40.73%; 
	}

	.span_4_of_12 {
		width: 32.26%; 
	}

	.span_3_of_12 {
		width: 23.8%;
	}

	.span_2_of_12 {
		width: 15.33%; 
	}

	.span_1_of_12 {
		width: 6.86%; 
	}

	/* for grid 4-of-12, every 3 column, the next first child has no margin-left*/
	.span_4_of_12:nth-child(3n+1) { 
		clear: both;
		margin-left: 0;
	}
}

/*  GO HALF WIDTH AT LESS THAN 1024 PIXELS */

@media only screen and (max-width: 1024px) {
	.span_12_of_12 {
		width: 100%;
	}
	.span_11_of_12 {
		width: 100%;
	}
	.span_10_of_12 {
		width: 100%;
	}
	.span_9_of_12 {
		width: 100%;
	}
	.span_8_of_12 {
		width: 100%;
	}
	.span_7_of_12 {
		width: 100%; 
	}
	.span_6_of_12 {
		width: 100%; 
	}
	.span_5_of_12 {
		width: 100%; 
	}
	.span_4_of_12 {
		width: 49.2%; 
	}
	.span_3_of_12 {
		width: 23.8%;
	}
	.span_2_of_12 {
		width: 15.33%; 
	}
	.span_1_of_12 {
		width: 6.86%; 
	}

	/* for grid 4-of-12, each odd column has no margin-left*/
	.span_4_of_12:nth-child(odd) { 
		clear: both;
		margin-left: 0;
	}
}

/*  GO FULL WIDTH AT LESS THAN 768 PIXELS */

@media only screen and (max-width: 768px) {
	.span_12_of_12 {
		width: 100%; 
	}
	.span_11_of_12 {
		width: 100%; 
	}
	.span_10_of_12 {
		width: 100%; 
	}
	.span_9_of_12 {
		width: 100%; 
	}
	.span_8_of_12 {
		width: 100%; 
	}
	.span_7_of_12 {
		width: 100%; 
	}
	.span_6_of_12 {
		width: 100%; 
	}
	.span_5_of_12 {
		width: 100%; 
	}
	.span_4_of_12 {
		width: 100%; 
	}
	.span_3_of_12 {
		width: 100%; 
	}
	.span_2_of_12 {
		width: 100%; 
	}
	.span_1_of_12 {
		width: 100%; 
	}

	/* for grid 4-of-12, all columns have no margin-left*/
	.span_4_of_12 { 
		clear: both;
		margin-left: 0;
	}
}