/*CSS for desktop*/

/*STANDARD COLORS
..................

light classic red: #C30;
red - flat: #e74c3c;
red - flat light: #D96052;
dark classic red: #A30B0B;
classic blue: #036;
classic gold: #997f5a;
brown-grey: #e7e6e3;
*/


/* ------------- Custom Fonts ------------- */
@font-face {
  font-family: 'PT Sans Narrow';
  font-style: normal;
  font-weight: 400;
  src: local('PT Sans Narrow'), local('PTSans-Narrow'), url(http://themes.googleusercontent.com/static/fonts/ptsansnarrow/v4/UyYrYy3ltEffJV9QueSi4Z4t0mJKPaLVqklzZuc32b4.woff) format('woff');
}

@font-face {
  font-family: 'Volkhov';
  font-style: normal;
  font-weight: 700;
  src: local('Volkhov Bold'), local('Volkhov-Bold'), url(http://themes.googleusercontent.com/static/fonts/volkhov/v5/bfl1JD3mxnmq4NrdCJOHxb3hpw3pgy2gAi-Ip7WPMi0.woff) format('woff');
}

@font-face {
  font-family: 'Volkhov';
  font-style: italic;
  font-weight: 400;
  src: local('Volkhov Italic'), local('Volkhov-Italic'), url(http://themes.googleusercontent.com/static/fonts/volkhov/v5/Y_Jmwi-iHxNj27PG4ILsdbO3LdcAZYWl9Si6vvxL-qU.woff) format('woff');
}

@font-face {
  font-family: 'Arvo';
  font-style: normal;
  font-weight: 400;
  src: local('Arvo'), url(../fonts/Arvo.woff) format('woff');
}

@font-face {
  font-family: 'Arvo';
  font-style: normal;
  font-weight: 700;
  src: local('Arvo Bold'), local('Arvo-Bold'), url(../fonts/Arvo-Bold.woff) format('woff');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Regular'), local('Roboto-Regular'), url(../fonts/Roboto-Regular.woff) format('woff');
}

@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Slab Regular'), local('RobotoSlab-Regular'), url(../fonts/RobotoSlab-Regular.woff) format('woff');
}

@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Slab Bold'), local('RobotoSlab-Bold'), url(../fonts/RobotoSlab-Bold.woff) format('woff');
}

@font-face {
  font-family: 'Droid Serif';
  font-style: normal;
  font-weight: 700;
  src: local('Droid Serif Bold'), local('DroidSerif-Bold'), url(../fonts/DroidSerif-Bold.woff) format('woff');
}

/* ------------- Custom Reset ---------------*/

h1, h2, h3, h4, h5, ul, li, form {
  font-weight: normal;
  list-style: none;
  margin: 0;
  padding: 0;
}

/* ------------- GLOBAL ---------------*/
body {
	/*background-image:url('../img/paper_texture.jpg');*/
	background-color: #f0f0f0;
	font-family: "Roboto Slab", serif; 
	font-size: 1em;
	color: #666;
	line-height: 1.5em;
}

.wrapper {
	width: 100%;
	margin-top: 20px;
}

/*#content-wide{
	position: relative;
	margin-bottom: 40px;
}*/

.container{
	margin: 0 auto;
	max-width: 980px;
	min-height: 100%;
	width:80%;
}

@media screen and (max-width: 768px){
	.container{
		width:90%;
	}
}

span {
	color: #c30;
}

h1 {
	font-family: "Arvo", serif;
	font-weight: bold;
	color: #C30;
	font-size: 3em;
	margin: 30px 0 30px 0;
}

h2 {
	font-family: "Roboto Slab", serif;
	font-weight: bold;
	color: #000;
	font-size: 1.2em;
	margin: 15px 0 10px 0;
}


h3 {
	font-family: "Roboto Slab", serif;
	color: #003366;
	font-size: 1.1em;
	margin: 15px 0 0 0;
}

h3 {
	font-family: "Arvo", serif;
	font-weight: bold;
	color: #C30;
	font-size: 1.4em;
	margin: 0 0 12px 0;
}

h4 {
	font-family: "Roboto Slab", serif;
	color: #666;
	font-size: 1em;
	margin: 12px 0 20px 0;
}

h5 {
	font-family: "Arvo", serif;
	color: #C30;
	font-size: 1em;
	margin: 10px 0 10px 0;
}

img{
	/*width: 100%;*/
	max-width: 100%;
}

/* ------------- Nav ---------------- */
nav {
	background-color: #fefefe;
	border-top:4px solid #e74c3c; 
    border-bottom:1px dotted #888888;
	height: 80px;
}

#logo {
	display: block;
	position:relative;
	float:left;
	margin-top:18px;
	width: 54px;
}


#menu {
	float: right;
	padding-top: 30px;
}

#menu ul li {
	font-family: "Arvo", serif;
	float: left;
	padding-left: 20px;
}

/* ------------- Footer ---------------- */
footer {
	position: relative;
	background-color: #f7f7f7;
	border-top: 1px dotted #888888;
	height: 80px;
	margin-top: 40px;
}

#copyright{
	float: left;
	text-align: left;
	margin-top: 15px;
	font-family: 'Roboto Slab', serif;
	font-size: 0.8em;
	color: #747484;
}

#social{
	float: right;
	padding: 25px 0 0 0;
}

#social ul li {
	float: left;
	padding-left: 20px;
}

#social ul li img{
	border-radius: 20px; 
	-webkit-transition: background-color ease-in-out 0.25s; 
	-moz-transition: background-color ease-in-out 0.25s; /* mozilla */
	-o-transition: background-color ease-in-out 0.25s; /* opera */
	-ms-transition: background-color ease-in-out 0.25s;
	transition: background-color ease-in-out 0.25s;
}

/* ------------- Index Page ---------------- */


.index-content h1 {
	font-family: "Volkhov", serif;
	color: #C30;
	font-size: 4em;
	margin: 1em 0 0.8em 0;
	
}

.index-content h2 {
	font-family: "Volkhov", serif;
	color: #000;
	font-size: 1.4em;
	margin: 1em 0 1em 0;
}

.index-content h3 {
	font-family: "Volkhov", serif;
	color: #666;
	font-size: 1em;
	margin: 1em 0 0 0;
}

.index-content h4 {
	font-family: "Volkhov", serif;
	color: #c30;
	font-size: 1em;
	margin: 1em 0 1em 0;
}

.index-img {
	max-width: 350px;
	margin: 0 auto;
}


/*@media screen and (min-width: 768px){
	.index-img {
		display: block;
		position: relative;
		float:left;
		width: 35%;
	}

	.index-content{
		display: block;
		position: relative;
		margin-left: 35%;
		padding-left: 5%;
	}	
}

@media screen and (max-width: 767px){
	.index-img{
		width:100%;
	}

	.index-content{
		width:100%;
	}	

}*/

/* ------------- About Page ---------------- */
.picframe {
	background-color: #f7f7f7;
	width: 30%;
	padding: 15px 15px 15px 15px; /* top, right, bottom, left */
	margin-right: 40px;
	margin-bottom: 20px;
	float:left;
	box-shadow: 0px 3px 15px #888888;
}

/* ------------- Portfolio Page ---------------- */

.port-item{
	cursor: pointer;
	display:block;
	background-color: #fafafa;
	width:100%;
	height:100%;
	padding:0px 0px 15px 0px;
	position:relative;
	-webkit-border-radius:8px;
	-moz-border-radius:8px;
	border-radius:8px;
	
	/* more transition code*/
	/* change bg color and box shadow in and out within 0.25s*/
	-webkit-transition: all ease-in-out 0.25s; 
	-moz-transition: all ease-in-out 0.25s; /* mozilla */
	-o-transition: all ease-in-out 0.25s; /* opera */
	-ms-transition: all ease-in-out 0.25s;
	transition: all ease-in-out 0.25s;
}

.port-item h4 {
	font-size: 1em;
	font-weight: bold;
	color: #003366;
	margin: 18px 0 0 0;
	text-align: center;
}

.port-item h5 {
	font-size: 0.6em;
	color: #8a8a8a;
	text-align: center;
}

.port-item:active{
	background-color:#f7f7f7;
}

.port-item img{
	display:block;
	margin:0 auto;
	-webkit-border-radius:8px;
	-moz-border-radius:8px;
	border-radius:8px;
	-moz-background-clip:padding;
	-webkit-background-clip:padding-box;
	background-clip:padding-box;
}


/* ------------- Project Section ---------------- */
.prj-item h1{
	font-weight: normal;
	color: #036;
	text-align: center;
	line-height: 20px;
}

.prj-item h2{
	margin: 0 0 16px 0;
}

.prj-item h3{
	color: #036;
	font-size: 1em;
}

.prj-item h4{
	font-size: 1.2em;
	text-align: center;
	color: #000;
	margin: 0 0 16px 0;
}

.prj-content:not(:first-child){
	padding: 20px 0 0 0;
	border-top:1px dotted #888888;
}

.prj-img {
	margin: 0 auto;
	margin-top: 10px;
}

/* ------------- Contact Page ---------------- */

.contact-form-wrap {
	position: relative;
	margin: 20px 0 0 0;
}


.contact-form {
/*	height: 510px;*/
	margin: auto;
	position: relative;
}

.form-left { /* subject, name, email address */
	width: 40%;
}

.form-right { /* message, human-check */
	width: 40%;
	margin-left: 40%;
}

.form-send {
	width: 100%;
	text-align: center;
	margin-top: 40px;
}

.contact-form label {
	display: block;
	color: #003366;
	font-family: "Volkhov", serif;
	font-size: 15px;
	margin: 0px 0 10px 0;
}


/* ------------- Form ---------------- */
/* --------- Input Area -------- */
input, textarea{
	border: none;
	outline: none;
}

input[type=text],
input[type=email],
textarea {
	width: 100%;
	display: block;
	margin: 0px 0 10px 0;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
	font-size: 1em;
	color: #003366;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
}

input[type=text],
input[type=email]{
	height: 40px;
}

textarea{
	height: 125px; 
}

input[type=text]:focus, 
input[type=email]:focus, 
textarea:focus { /* when input and textarea are clicked/focused */
	-moz-box-shadow:inset 2px 2px 2px rgba(0,0,0,0.16), 0 0 0 3px rgba(173,151,94,0.2);
	-webkit-box-shadow:inset 2px 2px 2px rgba(0,0,0,0.16), 0 0 0 3px rgba(173,151,94,0.2);
	box-shadow:inset 2px 2px 2px rgba(0,0,0,0.16), 0 0 0 3px rgba(173,151,94,0.2);

}

input[type=text].error, 
input[type=email].error,
textarea.error {
	border: 1px solid #c30;
}

/* --------- Button -------- */
input[type=submit]{
	/* basic transition code*/
	cursor: pointer;
	margin-bottom: 1em;
	padding: 1em 2em;
	background-color: #D96052;
	border: none;
	font-size: 1em;
	color: #fff;
	border-radius:5px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	-o-border-radius:5px; 
	
	/* more transition code*/
	/* change bg color in and out within 0.3s*/
	-webkit-transition: all ease-in-out 0.3s; 
	-moz-transition: all ease-in-out 0.3s; /* mozilla */
	-o-transition: all ease-in-out 0.3s; /* opera */
	-ms-transition: all ease-in-out 0.3s;
	transition: all ease-in-out 0.3s;
}

input[type=submit]:hover{
	background-color: #C30;
}

/* --------- Placeholder -------- */
/* chrome, safari */
::-webkit-input-placeholder {
    font-family: "Roboto", sans-serif;
    font-size: 0.8em;
    font-weight: 300;
    color:#CCC;
}
 
/* mozilla */
input:-moz-placeholder, 
textarea:-moz-placeholder {
    font-family: "Roboto", sans-serif;
    font-size: 0.8em;
    font-weight: 300;
    color:#CCC;
}
 
/* ie (faux placeholder) */
input.placeholder-text, 
textarea.placeholder-text { 
    font-family: "Roboto", sans-serif;
    font-size: 0.8em;
    font-weight: 300;
    color:#CCC;
}

/* ------------- Link ---------------- */
a {
	text-decoration: none; /* remove underline for every link*/
	color: #C30;
	-webkit-transition: all ease-in-out 0.3s; 
	-moz-transition: all ease-in-out 0.3s; /* mozilla */
	-o-transition: all ease-in-out 0.3s; /* opera */
	-ms-transition: all ease-in-out 0.3s;
	transition: all ease-in-out 0.3s;
}

a:hover{ /* mouse over link */
	color: #D96052;
}

nav a {
	color: #666;
}

nav a:hover {
	color: #000;
	margin-top: 1px;
}

.active{
	color: #D96052;
}

.index a {
	font-family: 'Volkhov', serif;
}

.index a:hover {
	font-family: 'Volkhov', serif;
}

.port-item a{
	color: #555;
}

.port-item:hover{
	background-color: #fafafa;
	-moz-box-shadow: 0 0 1px 6px rgba(173,151,94,0.2);
	-webkit-box-shadow: 0 0 1px 6px rgba(173,151,94,0.2);
	box-shadow: 0 0 1px 6px rgba(173,151,94,0.2);
}


#social ul li img:hover {
	margin-top: 1px;
	background-color: #ED988E;
}
