/* --------- COLOR PALETTES ---------- */
/*
Orange: #ff9901;
Orange-btnHover: #ffa115;
Orange-toggleHover: #ffc062;

Blue: #3f5ec9;
Blue-btnHover: #4e6bcd;
Blue-linkHover: #8c9edf;

Light-blue: #f8faff;

Contact-form-border: #d9deeb;

Dark-grey: #43485c;
*/

/* --------- FONTS ---------- */
h1, h2, h3, h4, h5, h6, label, p, span, a {
	font-family: Source Sans Pro, sans-serif;
	text-align: left;
}

h1 {
	color: white;
	font-size: 2.2em;
	font-weight: 300;
}

h2 {
	color: white;
	font-size: 1.2em;
	font-weight: 300;
	text-align: center;
}

h3 {
	font-size: 1.2em;
}

label {
	color: black;
}

span {
	font-size: 1em;
	color: #3f5ec9;
}

/* --------- GENERAL ---------- */
.container {
  width: 80%;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

.img-centered {
	margin: 0 auto;
}

.noPadding{
	padding:0 0 0 0;
}

.alignLeft {
	text-align: left;
}

.alignRight {
	text-align: right;
}

/* ------ FONT AWESOME ---------*/
.fa-check {
	margin-top: 22px;
	color: #ff9901;
}

/* --------- NAV BAR ---------- */
.navbar {
	border:none;
}

.navbar-text {
	font-family: Source Sans Pro, sans-serif;
	text-transform: uppercase;
	margin-top: 0px;
	margin-bottom: 0px;
	color: white;
}

.logo-img {
	width: 90px;
}

.clearNav {
	background-color: transparent;

	-webkit-transition: all .5s ease-out;
	-moz-transition: all .5s ease-out;
	-ms-transition: all .5s ease-out;
	-o-transition: all .5s ease-out;
	transition: all .5s ease-out;
}

.navbar-toggle {
	border: none;
	border-radius: 2px;
	color: white;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
	background-color: #ffc062;
}

.navbar-default .navbar-nav > li > a {
    color: white;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
	color: white;
	background-color: transparent;
}

/* for changing nav bg, toggle, text color when scrolling */
.darkNav {
	background-color: black;

	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-ms-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;
}

.navbar-dark .navbar-toggle:hover,
.navbar-dark .navbar-toggle:focus {
	background-color: #888;
}

.navbar-dark .navbar-nav > li > a {
    color: white;
}

.navbar-dark .navbar-nav > li > a:hover,
.navbar-dark .navbar-nav > li > a:focus {
	color: #ff9901;
	background-color: transparent;
}




/* --------- HEADER ---------- */
header {
	padding-top: 100px;
	padding-bottom: 50px;
	background-image: url('../img/banner_bg.png');
}

.header-container {
	width: 50%;
	margin: 0 auto;
}

.header-btn {
	margin-top: 40px;
	margin-bottom: 60px;
}
.header-text {
	text-align: center;
}

.header-img {
	width: 100%;
}

/* Mobile */
@media screen and (max-width: 768px){
	.header-container {
		width: 80%;
	}
}

/* --------- CLIENTS --------- */
/*.clients {
	background-color: #43485c;
	padding-top: 10px;
	padding-bottom: 20px;
}

.clients-header {
	color: white;
	text-align: center;
}

.clients-bottom {
	margin: 0 auto;
}

.clients-img {
	padding: 10px 10px;
}*/

/* --------- FEATURES --------- */
.features {
	background-color: white;
	padding-top: 80px;
}

.feature-header {
	font-weight: 400;
	color: #3f5ec9;
}

.feature-text-area {
	padding-top: 30px;
	padding-left: 70px;
	padding-right: 50px;
}

.feature-text-area .col-xs-11 {
	margin-left: 0px;
	padding-left: 18px;
}

.feature-text-area .col-xs-1 {
	margin-right: 0px;
	padding-right: 0px;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: @screen-sm-min) {
	.feature-text-area {
		padding: 0 0 0 0;
	}
	.feature-text-area .col-xs-11 {
		margin-left: 0px;
		padding-left: 0px;
	}
	.feature-text-area .col-xs-1 {
		margin-right: 0px;
		padding-right: 0px;
	}
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: @screen-md-min) {
	.feature-text-area {
		padding: 0 0 0 0;
	}
	.feature-text-area .col-xs-11 {
		margin-left: 0px;
		padding-left: 0px;
	}
	.feature-text-area .col-xs-1 {
		margin-right: 0px;
		padding-right: 0px;
	}
}

.feature-points {
	font-weight: 600;
}

.img-mobile {
	float: right;
	margin-right: 0;
}

@media screen and (max-width: 1024px){
	.img-mobile {
		padding-left: 20px;
	}
}

/* Mobile */
@media screen and (max-width: 768px){
	.features {
		padding-top: 50px;
	}

	.img-desktop {
		padding-right: 10px;
	}

	.img-mobile {
		padding-left: 10px;
		padding-bottom: 30px;
	}

	/* GET ERROR BY HAVING THIS CODE*/
	/*.feature-text-area {
		padding: 0 0 0 0;*/
}

/* --------- MID CTA - BETWEEN FEATURES --------- */
.mid-cta {
	background-color: #f8faff;
	background-image: url('../img/mid_cta_bg.png');
	background-position: right;
	background-repeat: no-repeat;
	padding-top: 50px;
	padding-bottom: 50px;
}

.mid-cta-header {
	padding-bottom: 20px;
	width: 80%;
	margin: 0 auto;
	text-align: center;
	font-weight: 400;
	color: #3f5ec9;
}

/* Mobile */
@media screen and (max-width: 768px){
	.mid-cta-header {
		padding-left: 20px;
		padding-right: 20px;
	}
}

/* ---------- MAP ------------ */
.map {
	background-color: #3f5ec9;
	background-image: url('../img/bottom_cta_bg.png');
	background-repeat: no-repeat;
	padding-top: 50px;
	padding-bottom: 50px;
}

.map-header {
	padding-bottom: 20px;
	font-size: 1.8em;
	width: 80%;
	margin: 0 auto;
	font-weight: 400;
	text-align: center;
}

.map-text {
	padding-bottom: 20px;
	width: 80%;
	margin: 0 auto;
	font-weight: 300;
	text-align: center;
}


/* --------- CONTACT --------- */
.contact {
	padding-top: 30px;
	padding-bottom: 50px;
	
}

.contact-header {
	padding-bottom: 10px;
	font-size: 1.8em;
	font-weight: 400;
	color: #3f5ec9;
	text-align: center;
}

.contact-text {
	padding-bottom: 20px;
	text-align: center;
	color: #3f5ec9;
	font-weight: 400;
}

.form-control {
	box-shadow: none;
	border: 2px solid #d9deeb;
	outline: none;
	color: #3f5ec9;
}

.form-control:focus {
	outline: none;
	border-color: #3f5ec9;
}

.form-control::-moz-placeholder {
  color: #d9deeb;
  opacity: 1;
}

.form-control:-ms-input-placeholder {
  color: #d9deeb;
}

.form-control::-webkit-input-placeholder {
  color: #d9deeb;
}

input {
	outline: none;
}

input:focus {
	outline: none;
}

.input-padding {
	padding-left: 30px;
}

.iconfont {
	position: absolute;
	padding-top: 8px;
	padding-left: 10px;
	color: #d9deeb;
}

.iconfont:focus {
	color: #3f5ec9;
}

/* --------- FOOTER ---------- */
footer {
	background-image: url('../img/contact_bg.png');
}

.panel-footer {
	border-top: 1px solid #3f5ec9;
	background-color: transparent;
}

.footer-text {
	font-size: 0.8em;
	color: #8c9edf;
}

.footer-right {
	float: right;
	text-align: right;
}

/* Mobile */
@media screen and (max-width: 768px){
	.footer-content {
		margin: 0 auto;
		text-align: center;
	}
}

/* --------- BUTTONS ---------- */
.btn {
	padding: 6px 46px;
	border: 1px solid transparent;
	border-radius: 2px;
	font-family: Source Sans Pro, sans-serif;
	font-size: 1.3em;
	font-weight: 300;
	color: white;
}

.btn:hover {
	color: white;
}

.btn-primary {
	background-color: #3f5ec9;
}

.btn-primary:hover {
	background-color: #4e6bcd;
	border-color: #3f5ec9;
}

.btn-orange {
	background-color: #ff9901;
	font-size: 1.1em;
}

.btn-orange:hover {
	background-color: #ffa115;
	border-color: #ff9901;
}

.btn-white-border,
.btn-white-border:hover {
	border-width: 2px;
	border-color: white;
}

/* --------- LINKS ---------- */
a {
	color: #3f5ec9;
}

a:hover {
	color: #8c9edf;
	text-decoration: none;
}