@import 'variables';

/* --------- TYPOGRAPHY ---------- */

body{
	font-family: 'Open Sans', Helvetica, Arial, Sans-Serif;
	font-weight: 400;
	color: $darkGrey;
	@include box-sizing (border-box);
	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;
	font-feature-settings: "kern";
	-webkit-font-feature-settings: "kern";
	-moz-font-feature-settings: "kern";
	-moz-font-feature-settings: "kern=1";
}

h1, h2, h3, h4, h5, h6, label, p, span {
	font-weight: 400;
	text-align: center;
	line-height: 1.4;
	
}

h1 {
	font-size: 3em;
	color: white;
}

h2 {
	font-size: 2.2em;
	color: $mainAqua;
}

h3 {
	font-size: 1.3em;
	font-weight: 600;
	color: $darkAqua;
}

h4 {
	font-size: 1.2em;
	color: $darkBlue;
}

h5 {
	font-size: 1.3em;
}

a {
	color: $mainAqua;
}

a:hover {
	color: white;
	text-decoration: none;
}

p {
	font-size: 1.2em;
	color: $lightGrey;
}

/*-------------------------------------------
                 GLOBAL
---------------------------------------------*/
::selection {
	background-color: $lightAqua;
}

::-moz-selection {
	background-color: $lightAqua;
}

.img-logo-white,
.img-logo-color {
	height: 100%;
}

.img-intro {
	width: 100%;
	margin-bottom: 30px;
}

.img-mobile {
	margin-top: 80px;
}



/*-------------------------------------------
                 UI KIT
---------------------------------------------*/
/* --------- NAV BAR ---------- */

.navbar {
	border:none;
	position:absolute;
	top: 0;
	width: 100%;
    padding: 20px 0 20px;
	z-index: 100;
	background-size: 100% auto; 
	@include border-radius(0px);
	@include transition ($transition);
}

.navbar-brand {
	margin-left: 15px;
}

.navbar-nav {
	margin: 0;
}

.navbar-toggle {
	padding: 8px 8px;
	border: none;
	@include border-radius($radius);
	@include transition($transition);

	.icon-bar {
		width: 20px;
		height: 3px;
		border-radius: $radius;
	}
}

.navbar-toggle:hover,
.navbar-toggle:focus {
	@include transition($transition);
}

.navbar-default {
	background-color: $mainAqua;
	border: none;
	
	.img-logo-color {
		display: none;
	}

	.navbar-toggle {
		.icon-bar {
			background-color: white;
		}
	}

	.navbar-toggle:hover,
	.navbar-toggle:focus {
		background-color: $mainAqua;

		.icon-bar {
			background-color: white;
		}
	}

	.navbar-nav > li > a {
		color: white;
		font-size: 1.1em;
		font-weight: 600;
		text-transform: uppercase;
		margin: 20px 0 15px 10px;
		padding-top: 10px;
		padding-bottom:10px;
		display: inline-block;
		vertical-align: middle;
	}

	.navbar-nav > li > a:hover,
	.navbar-nav > li > a:focus {
		color: white;
	}

	.navbar-nav > li > a.btn.btn-info {
		color: white;
	}

	.navbar-nav > li > a.btn.btn-info:hover {
		color: $mainAqua;
		background-color: white;
	}
}

.navbar-scroll{
	position: fixed;
	top: 0;
	background: white;
	color: $mainAqua;
	padding: 0 0;
	@include box-shadow(0px 1px 5px 0px rgba(0,0,0,0.06));

	-webkit-animation-name: bounce;
	animation-name: bounce;
	-webkit-transform-origin: center bottom;
	-ms-transform-origin: center bottom;
	transform-origin: center bottom;
	-webkit-animation-duration: .5s;
	animation-duration: .5s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	@include transition ($transition);

	.img-logo-color{
		display: inline-block;
	}

	.img-logo-white {
		display: none;
	}

	.navbar-toggle {
		.icon-bar {
			background-color: $mainAqua;
		}
	}

	.navbar-toggle:hover,
	.navbar-toggle:focus {
		background-color: white;

		.icon-bar {
			background-color: $mainAqua;
		}
	}

	.navbar-nav > li > a {
		color: $mainAqua;
	}

	.navbar-nav > li > a.btn.btn-info {
		background-color: white;
		border: 2px solid $mainAqua;
		color: $mainAqua;
	}

	.navbar-nav > li > a.btn.btn-info:hover {
		background-color: $mainAqua;
		color: white;
	}
}

/******* btn *******/

.btn {
	border: 2px solid white;
	font-weight: 600;
	color: $mainAqua;
	@include border-radius($radius);
	@include transition ($transition);
}

.btn:hover {
	color: white;
	@include transition ($transition);
}

.btn-default {
	background-color: white;
	border: 2px solid white;
	color: $mainAqua;
}

.btn-default:hover,
.btn-default:active,
.btn-default:focus {
	background-color: $mainAqua;
	border: 2px solid $mainAqua;
	color: white;
}

.btn-info {
	background-color: transparent;
	border: 2px white solid;
	color: white;
}

.btn-info:hover,
.btn-info:active,
.btn-info:focus {
	background-color: white;
	border: 2px white solid;
	color: $mainAqua;
}

/******* form *******/

.form-control {
	padding-left: 20px;
	border: none;
	outline: none;
	color: $mainAqua;
	font-size: 1em;
	font-weight: 400;
	@include border-radius ($radius);
	@include box-shadow (none);
}

.form-control:focus {
	outline: none;
	border-color: $lightAqua;
	@include box-shadow (none);
}

.form-control::-moz-placeholder {
	color: $mainAqua;
	opacity: 1;
}

.form-control::-ms-input-placeholder {
	color: $mainAqua;
}

.form-control::-webkit-input-placeholder {
	color: $mainAqua;
}

input,
.form-control,
.input-group,
.input-group-btn {
	outline: none;
}

input:focus,
.form-control:focus,
.input-group:focus,
.input-group-btn:focus {
	outline: none;
}

.input-group-btn .btn,
.input-group-btn .btn-group {
	color: $mainAqua;
}

.input-group-btn .btn:hover,
.input-group-btn .btn:active,
.input-group-btn .btn:focus,
.input-group-btn .btn-group:hover,
.input-group-btn .btn-group:active,
.input-group-btn .btn-group:focus {
	background-color: $mainAqua;
	border: 2px solid $mainAqua;
	color: white;
}

.form-group {
	margin-top: 30px;
	margin-bottom: 30px;
}

/*-------------------------------------------
                 PAGES
---------------------------------------------*/

header {
	background-color: $mainAqua;
	padding-top: $margin-mobile;

	h1 {
		margin-top: $margin-desktop;
	}

	h4 {
		margin-bottom: $margin-desktop
	}
}

.sec-showcase {
	padding-bottom: $margin-desktop;

	h2 {
		margin-top: $margin-desktop;
	}

	h4 {
		margin-bottom: $margin-desktop;
	}
}

.sec-showcase-aqua {
	background-color: $mainAqua;

	h2 {
		color: white;
	}
	h4 {
		color: $darkBlue;
	}
}

.sec-showcase-white {
	background-color: white;
}

.sec-features {
	margin-top: $margin-desktop/2;

	h3, p {
		text-align: left;
	}

	p {
		margin-bottom: $margin-desktop;
	}
}

.sec-clients {
	margin-top: $margin-desktop;

	blockquote {
		border: none;
		margin-top: $margin-desktop/3;
		margin-bottom: $margin-desktop/3;
		color: $darkBlue;
	}

	.client-name {
		display: block;
		font-size: 1.2em;
		font-weight: 600;
		color: $darkAqua;
	}

	.client-title {
		margin-bottom: $margin-desktop;
		display: block;
		font-size: 1em;
		color: $lightGrey;
	}
}

.sec-email {
	background-color: $lightAqua;
	padding-top: $margin-mobile;
	padding-bottom: $margin-mobile;

	h1 {
		color: $mainAqua;
	}

	h4 {
		color: $darkGrey;
	}

	.input-group {
		margin-top: $margin-desktop/2;
		margin-bottom: $margin-desktop/2;
	}
}

.sec-apps {
	padding-top: $margin-mobile * 1.5;
	padding-bottom: $margin-mobile;
	background-color: $mainAqua;
	
	h3 {
		color: white;
		font-weight: 600;
	}

	img {
		margin: $margin-desktop/2 auto;
	}

	img.icon-webapp {
		margin: 72px auto;
	}

	p {
		color: white;
		width: 80%;
		margin: 0 auto;
	}

	a.btn {
		text-transform: uppercase;
		margin: $margin-desktop/1.4 auto;
	}
}	

.sec-privacy {
	padding-top: $margin-mobile * 1.5;
	padding-bottom: $margin-mobile;
	background-color: white;

	h2, h5 {
		text-align: left;
		color: $mainAqua
	}

	p {
		text-align: left;
		color: $darkGrey;
	}

	ol {
		text-align: left;
		color: $darkGrey;
		font-size: 1.2em;
	}
}

.sec-signup {
	padding-top: $margin-desktop * 1.5;
	padding-bottom: $margin-desktop;
	background-color: $mainAqua;

	h1 {
		margin-top: $margin-desktop;
		margin-bottom: $margin-desktop/1.5;
	}
}

footer {
	background-color: $mainAqua;
	padding-top: $margin-mobile/2;
	padding-bottom: $margin-mobile/2;

	img {
		float: left;
		padding-top: 10px;
	}

	.logo-content {
		float: left;
		padding-left: 6px;
	}

	.logo-name {
		float: left;
		text-align: left;
		font-size: 1.6em;
		font-weight: 400;
		color: white;
	}

	.copyright {
		clear: both;
		float: left;
		text-align: left;
		font-size: 0.9em;
		font-weight: 600;
		color: $lightAqua;
		text-transform: uppercase;
	}
	
	.footer-nav {
		padding-top: 20px;
		text-align: center;
	}

	ul {
		padding-left: 0;

		li {
			display: inline-block;
			text-transform: uppercase;
			text-align: center;

			a {
				color: white;
				font-weight: 600;
			}
		}

		li:not(:first-child) {
			padding-left: 30px;
		}
	}
	
	.footer-right {
		padding-top: 20px;

		.twitter {
			display: block;
			color: white;
			font-weight: 600;
			text-align: center;
			
			a {
				color: white;
			}
		}

		.momentus-website a {
			padding-top: 6px;
			text-align: center;
			font-size: 1.1em;
			font-weight: 600;
			text-transform: uppercase;
			display: block;
			color: $lightAqua;
		}
	}
}