/* --------- COLOR PALETTES ---------- */
/* --------- VARIABLES ---------- */
/*---------- MIXINS ---------- */
/* --------- TYPOGRAPHY ---------- */
body {
  font-family: 'Open Sans', Helvetica, Arial, Sans-Serif;
  font-weight: 400;
  color: #828C96;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box; }

h1, h2, h3, h4, h5, h6, label, p, span {
  font-weight: 400;
  text-align: center;
  line-height: 1.4;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
  font-feature-settings: "kern";
  -webkit-font-feature-settings: "kern";
  -moz-font-feature-settings: "kern";
  -moz-font-feature-settings: "kern=1"; }

h1 {
  font-size: 3em;
  color: white; }

h2 {
  font-size: 2.2em;
  color: #66D1CD; }

h3 {
  font-size: 1.3em;
  font-weight: 600;
  color: #33C1BC; }

h4 {
  font-size: 1.2em;
  color: #B3B3B3; }

h5 {
  font-size: 1.3em; }

a {
  color: #66D1CD; }

a:hover {
  color: white;
  text-decoration: none; }

p {
  font-size: 1.2em;
  color: #B3B3B3; }

/*-------------------------------------------
                 ICON+IMAGE
---------------------------------------------*/
.img-logo-white, .img-logo-color {
  height: 100%; }

.img-intro {
  width: 100%;
  margin-bottom: 30px; }

.img-mobile {
  margin-top: 80px; }

/*-------------------------------------------
                 UI KIT
---------------------------------------------*/
/* --------- NAV BAR ---------- */
.navbar {
  border: none;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 100;
  padding: 50px 0 50px;
  background-size: 100% auto;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  border-radius: 0px;
  -webkit-transition: ease all 0.2s;
  -moz-transition: ease all 0.2s;
  -o-transition: ease all 0.2s;
  transition: ease all 0.2s; }

.navbar-nav {
  margin: 0; }

.navbar-default {
  background-color: transparent;
  border: none; }

.navbar-brand {
  height: 37px;
  padding: 0;
  margin: 22px 0 !important; }

.navbar-toggle {
  border: none;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  border-radius: 2px;
  color: white; }

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #ffc062; }

.navbar-default .navbar-nav > li > a {
  color: white;
  font-size: 1em;
  text-transform: uppercase;
  margin: 20px 0 15px 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  display: inline-block;
  vertical-align: middle; }

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: white; }

.navbar-default .navbar-nav > li > a.btn.btn-info {
  color: white; }

.navbar-default .navbar-nav > li > a.btn.btn-info:hover {
  color: #66D1CD;
  background-color: white; }

.navbar .img-logo-color {
  display: none; }

.navbar.navbar-scroll #btn-cta-top,
.navbar.navbar-scroll .img-logo-color {
  display: inline-block; }

.navbar.navbar-scroll .img-logo-white {
  display: none; }

.navbar.navbar-scroll {
  position: fixed;
  top: 0;
  background: white;
  color: #66D1CD;
  padding: 0 0;
  -webkit-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.06);
  -moz-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.06);
  -ms-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.06);
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.06);
  -webkit-animation-name: bounce;
  animation-name: bounce;
  -webkit-transform-origin: center bottom;
  -ms-transform-origin: center bottom;
  transform-origin: center bottom;
  -webkit-animation-duration: .5s;
  animation-duration: .5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-transition: ease all 0.2s;
  -moz-transition: ease all 0.2s;
  -o-transition: ease all 0.2s;
  transition: ease all 0.2s; }

.navbar-scroll.navbar-default .navbar-nav > li > a {
  color: #66D1CD; }

.navbar-scroll .navbar-nav > li > a.btn.btn-info {
  background-color: white;
  border: 2px solid #66D1CD;
  color: #66D1CD; }

.navbar-scroll .navbar-nav > li > a.btn.btn-info:hover {
  background-color: #66D1CD;
  color: white; }

/******* btn *******/
.btn {
  padding: 15px 30px;
  border: 2px solid white;
  font-weight: 400;
  color: #66D1CD;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  border-radius: 10px;
  -webkit-transition: ease all 0.2s;
  -moz-transition: ease all 0.2s;
  -o-transition: ease all 0.2s;
  transition: ease all 0.2s; }

.btn:hover {
  color: white;
  -webkit-transition: ease all 0.2s;
  -moz-transition: ease all 0.2s;
  -o-transition: ease all 0.2s;
  transition: ease all 0.2s; }

.btn-default {
  background-color: white;
  border: 2px solid white;
  color: #66D1CD; }

.btn-default:hover,
.btn-default:active,
.btn-default:focus {
  background-color: #66D1CD;
  border: 2px solid #66D1CD;
  color: white; }

.btn-info {
  background-color: transparent;
  border: 2px white solid;
  color: white; }

.btn-info:hover,
.btn-info:active,
.btn-info:focus {
  background-color: white;
  border: 2px white solid;
  color: #66D1CD; }

/******* form *******/
.form-control {
  padding-left: 20px;
  border: none;
  outline: none;
  color: #66D1CD;
  font-size: 1em;
  font-weight: 400;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  box-shadow: none; }

.form-control:focus {
  outline: none;
  border-color: #E5F7F6;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  box-shadow: none; }

.form-control::-moz-placeholder {
  color: #66D1CD;
  opacity: 1; }

.form-control::-ms-input-placeholder {
  color: #66D1CD; }

.form-control::-webkit-input-placeholder {
  color: #66D1CD; }

input,
.form-control {
  outline: none; }

input:focus,
.form-control:focus {
  outline: none; }

.input-group .form-control,
.input-group .input-group-btn .btn {
  height: 50px; }

.input-group-btn .btn,
.input-group-btn .btn-group {
  color: #66D1CD; }

.input-group-btn .btn:hover,
.input-group-btn .btn:active,
.input-group-btn .btn:focus,
.input-group-btn .btn-group:hover,
.input-group-btn .btn-group:active,
.input-group-btn .btn-group:focus {
  background-color: #66D1CD;
  border: 2px solid #66D1CD;
  color: white; }

/*-------------------------------------------
                 PAGES
---------------------------------------------*/
header {
  background-color: #66D1CD;
  padding-top: 150px; }

header h1 {
  margin-top: 100px;
  margin-bottom: 100px; }

.sec-showcase {
  padding-bottom: 100px; }

.sec-showcase h2 {
  margin-top: 100px; }

.sec-showcase h4 {
  margin-bottom: 100px; }

.sec-showcase-aqua {
  background-color: #66D1CD; }
  .sec-showcase-aqua h2 {
    color: white; }
  .sec-showcase-aqua h4 {
    color: #828C96; }

.sec-showcase-white {
  background-color: white; }

.sec-features {
  margin-top: 50px; }
  .sec-features h3,
  .sec-features p {
    text-align: left; }
  .sec-features p {
    margin-bottom: 100px; }

.sec-clients {
  margin-top: 100px; }
  .sec-clients blockquote {
    border: none;
    margin-top: 33.33333px;
    margin-bottom: 33.33333px; }
  .sec-clients .client-name {
    display: block;
    font-size: 1.2em;
    font-weight: 600;
    color: #33C1BC; }
  .sec-clients .client-title {
    margin-bottom: 100px;
    display: block;
    font-size: 1em;
    color: #B3B3B3; }

.sec-signup {
  background-color: #E5F7F6;
  padding-top: 200px;
  padding-bottom: 200px; }
  .sec-signup h1 {
    color: #66D1CD; }
  .sec-signup h4 {
    color: #828C96; }
  .sec-signup .input-group {
    margin-top: 50px;
    margin-bottom: 50px; }

.sec-apps {
  padding-top: 300px;
  padding-bottom: 100px;
  background-color: #66D1CD; }
  .sec-apps h3 {
    color: white;
    font-weight: 600; }
  .sec-apps img {
    margin: 50px auto; }
  .sec-apps img.icon-webapp {
    margin: 72px auto; }
  .sec-apps p {
    color: white;
    width: 80%;
    margin: 0 auto; }
  .sec-apps a.btn {
    text-transform: uppercase;
    margin: 71.42857px auto; }

footer {
  background-color: #66D1CD;
  padding-top: 60px;
  padding-bottom: 60px; }
  footer img {
    float: left;
    padding-top: 10px; }
  footer .logo-content {
    float: left;
    padding-left: 6px; }
  footer .logo-name {
    float: left;
    text-align: left;
    font-size: 1.6em;
    font-weight: 400;
    color: white; }
  footer .copyright {
    clear: both;
    float: left;
    text-align: left;
    font-size: 0.9em;
    font-weight: 600;
    color: #E5F7F6;
    text-transform: uppercase; }
  footer .footer-nav {
    padding-top: 20px;
    text-align: center; }
  footer ul {
    padding-left: 0; }
    footer ul li {
      display: inline-block;
      text-transform: uppercase;
      font-weight: 400;
      text-align: center; }
      footer ul li a {
        color: white; }
    footer ul li:not(:first-child) {
      padding-left: 30px; }
  footer .footer-right {
    padding-top: 20px; }
    footer .footer-right .twitter {
      display: block;
      color: white;
      font-weight: 600;
      text-align: center; }
      footer .footer-right .twitter a {
        color: white; }
    footer .footer-right .momentus-website a {
      padding-top: 6px;
      text-align: center;
      font-size: 1.1em;
      font-weight: 600;
      text-transform: uppercase;
      display: block;
      color: #E5F7F6; }

/*# sourceMappingURL=main.css.map */
