/* --------- COLOR PALETTES ---------- */
/* --------- VARIABLES ---------- */
/*---------- MIXINS ---------- */
/* --------- TYPOGRAPHY ---------- */
body {
  font-family: 'Open Sans', Helvetica, Arial, Sans-Serif;
  font-weight: 400;
  color: #828C96;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
  font-feature-settings: "kern";
  -webkit-font-feature-settings: "kern";
  -moz-font-feature-settings: "kern";
  -moz-font-feature-settings: "kern=1"; }

h1, h2, h3, h4, h5, h6, label, p, span {
  font-weight: 400;
  text-align: center;
  line-height: 1.4; }

h1 {
  font-size: 2.2em;
  color: white; }

h2 {
  font-size: 1.8em;
  color: #66D1CD; }

h3 {
  font-size: 1.3em;
  font-weight: 600;
  color: #33C1BC; }

h4 {
  font-size: 1.2em;
  color: #364251; }

h5 {
  font-size: 1.2em; }

h6 {
  font-size: 1.1em; }

a {
  color: #66D1CD; }

a:hover {
  color: white;
  text-decoration: none; }

p {
  font-size: 1.2em;
  color: #B3B3B3; }

/*-------------------------------------------
                 GLOBAL
---------------------------------------------*/
::selection {
  background-color: #E5F7F6; }

::-moz-selection {
  background-color: #E5F7F6; }

.img-logo-white,
.img-logo-color {
  height: 100%; }

.img-intro {
  width: 100%;
  margin-bottom: 30px; }

.img-mobile {
  margin-top: 80px; }

.img-app-store {
  width: 180px; }

.img-clients {
  max-width: 220px;
  -webkit-border-radius: 110px;
  -moz-border-radius: 110px;
  -ms-border-radius: 110px;
  border-radius: 110px; }

/*-------------------------------------------
                 UI KIT
---------------------------------------------*/
/* --------- NAV BAR ---------- */
.navbar {
  border: none;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 100;
  background-size: 100% auto;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  border-radius: 0px;
  -webkit-transition: ease all 0.2s;
  -moz-transition: ease all 0.2s;
  -o-transition: ease all 0.2s;
  transition: ease all 0.2s; }

.navbar-brand {
  height: 50px; }

.navbar-nav > li > a.btn {
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 5px;
  margin-bottom: 5px; }

.navbar-toggle {
  padding: 8px 8px;
  border: none;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  border-radius: 10px;
  -webkit-transition: ease all 0.2s;
  -moz-transition: ease all 0.2s;
  -o-transition: ease all 0.2s;
  transition: ease all 0.2s; }
  .navbar-toggle .icon-bar {
    width: 20px;
    height: 3px;
    border-radius: 10px; }

.navbar-toggle:hover,
.navbar-toggle:focus {
  -webkit-transition: ease all 0.2s;
  -moz-transition: ease all 0.2s;
  -o-transition: ease all 0.2s;
  transition: ease all 0.2s; }

.navbar-default {
  background-color: transparent;
  border: none; }
  .navbar-default .img-logo-color {
    display: none; }
  .navbar-default .navbar-toggle .icon-bar {
    background-color: white; }
  .navbar-default .navbar-toggle:hover,
  .navbar-default .navbar-toggle:focus {
    background-color: #66D1CD; }
    .navbar-default .navbar-toggle:hover .icon-bar,
    .navbar-default .navbar-toggle:focus .icon-bar {
      background-color: white; }
  .navbar-default .navbar-nav > li > a {
    color: white;
    font-size: 1.1em;
    font-weight: 600;
    text-transform: uppercase;
    display: inline-block;
    vertical-align: middle; }
  .navbar-default .navbar-nav > li > a:hover,
  .navbar-default .navbar-nav > li > a:focus {
    color: white; }
  .navbar-default .navbar-nav > li > a.btn.btn-default {
    color: white; }
  .navbar-default .navbar-nav > li > a.btn.btn-default:hover {
    color: #66D1CD;
    background-color: white; }
  .navbar-default .navbar-collapse {
    border-color: #66D1CD;
    -webkit-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.06);
    -moz-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.06);
    -ms-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.06);
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.06); }

.navbar-scroll {
  position: fixed;
  top: 0;
  background: white;
  color: #66D1CD;
  padding: 0 0;
  -webkit-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.06);
  -moz-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.06);
  -ms-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.06);
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.06);
  -webkit-animation-name: bounce;
  animation-name: bounce;
  -webkit-transform-origin: center bottom;
  -ms-transform-origin: center bottom;
  transform-origin: center bottom;
  -webkit-animation-duration: .5s;
  animation-duration: .5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-transition: ease all 0.2s;
  -moz-transition: ease all 0.2s;
  -o-transition: ease all 0.2s;
  transition: ease all 0.2s; }
  .navbar-scroll .img-logo-color {
    display: inline-block; }
  .navbar-scroll .img-logo-white {
    display: none; }
  .navbar-scroll .navbar-toggle .icon-bar {
    background-color: #66D1CD; }
  .navbar-scroll .navbar-toggle:hover,
  .navbar-scroll .navbar-toggle:focus {
    background-color: white; }
    .navbar-scroll .navbar-toggle:hover .icon-bar,
    .navbar-scroll .navbar-toggle:focus .icon-bar {
      background-color: #66D1CD; }
  .navbar-scroll .navbar-nav > li > a {
    color: #66D1CD; }
  .navbar-scroll .navbar-nav > li > a:hover,
  .navbar-scroll .navbar-nav > li > a:focus {
    color: #66D1CD; }
  .navbar-scroll .navbar-nav > li > a.btn.btn-default {
    background-color: white;
    border: 2px solid #66D1CD;
    color: #66D1CD; }
  .navbar-scroll .navbar-nav > li > a.btn.btn-default:hover {
    background-color: #66D1CD;
    color: white; }

/******* btn *******/
.btn {
  border: 2px solid white;
  font-weight: 600;
  color: #66D1CD;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  border-radius: 10px;
  -webkit-transition: ease all 0.2s;
  -moz-transition: ease all 0.2s;
  -o-transition: ease all 0.2s;
  transition: ease all 0.2s; }

.btn:hover {
  color: white;
  -webkit-transition: ease all 0.2s;
  -moz-transition: ease all 0.2s;
  -o-transition: ease all 0.2s;
  transition: ease all 0.2s; }

.btn-lg {
  padding: 12px 16px; }

/*	
	btn-primary
	standard: bg white, stroke white
	hover: bg transparent, stroke white
*/
.btn-primary {
  background-color: white;
  border: 2px solid white;
  color: #66D1CD; }

.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus {
  background-color: transparent;
  border: 2px solid white;
  color: white; }

/*	
	btn-default
	standard: bg transparent, stroke white
	hover: bg white, stroke white
*/
.btn-default {
  background-color: transparent;
  border: 2px white solid;
  color: white; }

.btn-default:hover,
.btn-default:active,
.btn-default:focus {
  background-color: white;
  border: 2px white solid;
  color: #66D1CD; }

/*	
	btn-info
	standard: bg white, stroke white
	hover: bg aqua, stroke aqua
*/
.btn-info {
  background-color: white;
  border: 2px solid white;
  color: #66D1CD; }

.btn-info:hover,
.btn-info:active,
.btn-info:focus {
  background-color: #66D1CD;
  border: 2px solid #66D1CD;
  color: white; }

/******* form *******/
.form-control {
  padding-left: 20px;
  border: none;
  outline: none;
  color: #66D1CD;
  font-size: 1em;
  font-weight: 400;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  box-shadow: none; }

.form-control:focus {
  outline: none;
  border-color: #E5F7F6;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  box-shadow: none; }

.form-control::-moz-placeholder {
  color: #66D1CD;
  opacity: 1; }

.form-control::-ms-input-placeholder {
  color: #66D1CD; }

.form-control::-webkit-input-placeholder {
  color: #66D1CD; }

input,
.form-control,
.input-group,
.input-group-btn {
  outline: none; }

input:focus,
.form-control:focus,
.input-group:focus,
.input-group-btn:focus {
  outline: none; }

.input-group-btn .btn,
.input-group-btn .btn-group {
  color: #66D1CD; }

.input-group-btn .btn:hover,
.input-group-btn .btn:active,
.input-group-btn .btn:focus,
.input-group-btn .btn-group:hover,
.input-group-btn .btn-group:active,
.input-group-btn .btn-group:focus {
  background-color: #66D1CD;
  border: 2px solid #66D1CD;
  color: white; }

.form-group {
  margin-top: 30px;
  margin-bottom: 30px; }

.notification-label, .group-label {
  display: inline-block;
  width: 40px;
  height: 40px;
  padding: 12px 0;
  text-align: center;
  text-transform: uppercase;
  font-size: 0.9em;
  font-weight: 700;
  background-color: #66D1CD;
  color: white;
  background-clip: padding-box;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  border-radius: 30px; }

.group-label-red {
  background-color: #EB5768; }

.group-label-blue {
  background-color: #2585C4; }

.group-label-orange {
  background-color: #F6AB60; }

.group-label-green {
  background-color: #28B294; }

/*-------------------------------------------
                 PAGES
---------------------------------------------*/
header {
  background: url(../img/hr-hero-img.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-top: 70px; }
  header h1 {
    margin-top: 70px; }
  header h4 {
    color: rgba(255, 255, 255, 0.7);
    margin-bottom: 70px; }
  header a.btn {
    display: block;
    margin-bottom: 70px; }

.sec-showcase {
  padding-bottom: 70px; }
  .sec-showcase h2 {
    margin-top: 70px; }
  .sec-showcase h4 {
    margin-bottom: 70px; }

.sec-showcase-aqua {
  background-color: #66D1CD; }
  .sec-showcase-aqua h2 {
    color: white; }
  .sec-showcase-aqua h4 {
    color: #364251; }

.sec-showcase-white {
  background-color: white; }

.sec-showcase-blue {
  background-color: #E9F3F9; }
  .sec-showcase-blue h2 {
    color: #2585C4; }

#sec-analytics {
  padding-bottom: 0; }
  #sec-analytics .analytics-content {
    position: absolute;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    -moz-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    z-index: 10; }

#browser-analytics {
  opacity: 0;
  -webkit-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.06);
  -moz-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.06);
  -ms-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.06);
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.06); }

.myChart-container {
  width: 100%;
  padding-top: 160px; }

canvas#myChart {
  display: block;
  width: 100%;
  height: auto;
  bottom: 0%;
  margin: 0;
  padding: 0;
  border: none; }

.notification-bell {
  position: absolute;
  top: -26px;
  left: -26px;
  font-size: 2.8em;
  color: #F4F41E;
  -webkit-transform: rotate(340deg);
  -moz-transform: rotate(340deg);
  -ms-transform: rotate(340deg);
  -o-transform: rotate(340deg);
  transform: rotate(340deg);
  filter: progid:DXImageTransform.Microsoft.Matrix(sizingMethod='auto expand', M11=cos(340), M12=-sin(340), M21=sin(340), M22=cos(340));
  -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(sizingMethod='auto expand', M11=cos(340), M12=-sin(340), M21=sin(340), M22=cos(340))";
  zoom: 1; }
  .notification-bell i {
    text-shadow: 0px 4px 10px rgba(0, 0, 0, 0.16); }

.notification-container {
  opacity: 0;
  margin-top: 20px;
  margin-bottom: 20px; }

.notification {
  height: 70px;
  overflow: hidden;
  position: relative;
  background-color: white;
  padding: 12px 16px;
  margin-bottom: 20px;
  color: #364251;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.06);
  -moz-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.06);
  -ms-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.06);
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.06); }

.notification-middle {
  position: absolute;
  top: 25%; }

.notification-inner {
  position: relative;
  top: -50%; }

.notification-label, .group-label {
  display: block; }

.notification-content {
  display: block;
  margin-left: 50px;
  text-align: left; }

#particle-js {
  width: 100%;
  height: 100%;
  background-image: url("");
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat; }

.sec-connect {
  background: #66D1CD;
  background: -webkit-linear-gradient(170deg, #66D1CD, #66D1CD, #E5F7F6);
  /*Safari 5.1-6*/
  background: -o-linear-gradient(170deg, #66D1CD, #66D1CD, #E5F7F6);
  /*Opera 11.1-12*/
  background: -moz-linear-gradient(170deg, #66D1CD, #66D1CD, #E5F7F6);
  /*Fx 3.6-15*/
  background: linear-gradient(170deg, #66D1CD, #66D1CD, #E5F7F6);
  /*Standard*/
  padding-top: 50px;
  padding-bottom: 50px; }
  .sec-connect #connect-content {
    position: relative;
    z-index: 1; }
  .sec-connect .particles-js-canvas-el {
    display: none; }

#sec-steps h5 {
  color: #EB5768;
  text-transform: uppercase;
  font-weight: 600; }
#sec-steps h6 {
  color: #828C96; }
#sec-steps img {
  margin: 60px auto 60px auto; }
#sec-steps #img-connect-team {
  width: 100%; }
#sec-steps #img-share-with-team {
  width: 70%;
  margin-top: 50px; }
#sec-steps #img-get-analytics {
  width: 80%; }

.blue {
  background-color: #3883d8; }

.turqoise {
  background-color: #38ced7; }

.green {
  background-color: #22d659; }

.bordeaux {
  background-color: #953543; }

.panel {
  height: 100%;
  width: 100%; }

.panel.green {
  margin-bottom: 400px; }

.sec-clients {
  margin-top: 70px; }
  .sec-clients blockquote {
    border: none;
    margin-top: 23.33333px;
    margin-bottom: 23.33333px;
    color: #364251; }
  .sec-clients .client-name {
    display: block;
    font-size: 1.2em;
    font-weight: 600;
    color: #33C1BC; }
  .sec-clients .client-title {
    margin-bottom: 70px;
    display: block;
    font-size: 1em;
    color: #B3B3B3; }

.sec-cta-signup {
  background-color: #E5F7F6;
  padding-top: 70px;
  padding-bottom: 70px; }
  .sec-cta-signup h1 {
    color: #66D1CD; }
  .sec-cta-signup h4 {
    color: #828C96; }
  .sec-cta-signup .input-group {
    margin-top: 35px;
    margin-bottom: 35px; }
  .sec-cta-signup a.btn {
    display: block;
    margin-top: 35px;
    margin-bottom: 35px; }

#sec-apps {
  padding-top: 105px;
  padding-bottom: 70px;
  background-color: #66D1CD; }
  #sec-apps h3 {
    color: white;
    font-weight: 600; }
  #sec-apps img {
    margin: 35px auto; }
  #sec-apps img.icon-webapp {
    margin: 72px auto; }
  #sec-apps p {
    color: white;
    width: 80%;
    margin: 0 auto; }
  #sec-apps a.btn {
    text-transform: uppercase;
    margin: 52px auto; }

#sec-pricing {
  padding-top: 105px; }
  #sec-pricing h1 {
    color: #66D1CD; }
  #sec-pricing .panel-pricing {
    padding: 10px 40px;
    color: white;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    border-radius: 10px; }
    #sec-pricing .panel-pricing h3, #sec-pricing .panel-pricing h4, #sec-pricing .panel-pricing p, #sec-pricing .panel-pricing span {
      color: white; }
  #sec-pricing .panel-pricing-free {
    background-color: #F6AB60; }

#sec-privacy {
  padding-top: 105px;
  padding-bottom: 70px;
  background-color: white; }
  #sec-privacy h2, #sec-privacy h5 {
    text-align: left;
    color: #66D1CD; }
  #sec-privacy p {
    text-align: left;
    color: #828C96; }
  #sec-privacy ol {
    text-align: left;
    color: #828C96;
    font-size: 1.2em; }

.sec-signup {
  padding-top: 105px;
  padding-bottom: 70px;
  background-color: #66D1CD; }
  .sec-signup h1 {
    margin-top: 70px;
    margin-bottom: 46.66667px; }

footer {
  background-color: #66D1CD;
  padding-top: 35px;
  padding-bottom: 35px; }
  footer img {
    float: left;
    padding-top: 10px; }
  footer .logo-content {
    float: left;
    padding-left: 6px; }
  footer .logo-name {
    float: left;
    text-align: left;
    font-size: 1.6em;
    font-weight: 400;
    color: white; }
  footer .copyright {
    clear: both;
    float: left;
    text-align: left;
    font-size: 0.9em;
    font-weight: 600;
    color: #E5F7F6;
    text-transform: uppercase; }
  footer .footer-nav {
    padding-top: 20px;
    text-align: center; }
  footer ul {
    padding-left: 0; }
    footer ul li {
      display: inline-block;
      text-transform: uppercase;
      text-align: center; }
      footer ul li a {
        color: white;
        font-weight: 600; }
    footer ul li:not(:first-child) {
      padding-left: 30px; }
  footer .footer-right {
    padding-top: 20px; }
    footer .footer-right .twitter {
      display: block;
      color: white;
      font-weight: 600;
      text-align: center;
      font-size: 1em; }
      footer .footer-right .twitter a {
        color: white; }
    footer .footer-right .momentus-website a {
      padding-top: 6px;
      text-align: center;
      font-size: 1.1em;
      font-weight: 600;
      text-transform: uppercase;
      display: block;
      color: #E5F7F6; }

/********************** ANIMATIONS *********************/
.delay-half-sec {
  -webkit-animation-delay: 0.5s;
  /* Chrome, Safari, Opera */
  animation-delay: 0.5s; }

.delay-1-sec {
  -webkit-animation-delay: 1s;
  /* Chrome, Safari, Opera */
  animation-delay: 1s; }

.delay-1-half-sec {
  -webkit-animation-delay: 1.5s;
  /* Chrome, Safari, Opera */
  animation-delay: 1.5s; }

.delay-2-sec {
  -webkit-animation-delay: 2s;
  /* Chrome, Safari, Opera */
  animation-delay: 2s; }

.delay-2-half-sec {
  -webkit-animation-delay: 2.5s;
  /* Chrome, Safari, Opera */
  animation-delay: 2.5s; }

/* fadeInLeft */
@-webkit-keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-50%, 0, 0);
    transform: translate3d(-50%, 0, 0); }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none; } }
@keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-50%, 0, 0);
    transform: translate3d(-50%, 0, 0); }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none; } }
.fadeInLeft {
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft; }

/* fadeInDown */
@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -30%, 0);
    transform: translate3d(0, -30%, 0); }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none; } }
@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -30%, 0);
    transform: translate3d(0, -30%, 0); }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none; } }
.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown; }

/* swing */
@-webkit-keyframes swing {
  20% {
    -webkit-transform: rotate3d(1, 0, 1, 355deg);
    -moz-transform: rotate3d(1, 0, 1, 355deg);
    -ms-transform: rotate3d(1, 0, 1, 355deg);
    -o-transform: rotate3d(1, 0, 1, 355deg);
    transform: rotate3d(1, 0, 1, 355deg); }
  40% {
    -webkit-transform: rotate3d(1, 0, 1, 330deg);
    -moz-transform: rotate3d(1, 0, 1, 330deg);
    -ms-transform: rotate3d(1, 0, 1, 330deg);
    -o-transform: rotate3d(1, 0, 1, 330deg);
    transform: rotate3d(1, 0, 1, 330deg); }
  60% {
    -webkit-transform: rotate3d(1, 0, 1, 345deg);
    -moz-transform: rotate3d(1, 0, 1, 345deg);
    -ms-transform: rotate3d(1, 0, 1, 345deg);
    -o-transform: rotate3d(1, 0, 1, 345deg);
    transform: rotate3d(1, 0, 1, 345deg); }
  80% {
    -webkit-transform: rotate3d(1, 0, 1, 335deg);
    -moz-transform: rotate3d(1, 0, 1, 335deg);
    -ms-transform: rotate3d(1, 0, 1, 335deg);
    -o-transform: rotate3d(1, 0, 1, 335deg);
    transform: rotate3d(1, 0, 1, 335deg); }
  100% {
    -webkit-transform: rotate3d(1, 0, 1, 340deg);
    -moz-transform: rotate3d(1, 0, 1, 340deg);
    -ms-transform: rotate3d(1, 0, 1, 340deg);
    -o-transform: rotate3d(1, 0, 1, 340deg);
    transform: rotate3d(1, 0, 1, 340deg); } }
@keyframes swing {
  20% {
    -webkit-transform: rotate3d(1, 0, 1, 355deg);
    -moz-transform: rotate3d(1, 0, 1, 355deg);
    -ms-transform: rotate3d(1, 0, 1, 355deg);
    -o-transform: rotate3d(1, 0, 1, 355deg);
    transform: rotate3d(1, 0, 1, 355deg); }
  40% {
    -webkit-transform: rotate3d(1, 0, 1, 330deg);
    -moz-transform: rotate3d(1, 0, 1, 330deg);
    -ms-transform: rotate3d(1, 0, 1, 330deg);
    -o-transform: rotate3d(1, 0, 1, 330deg);
    transform: rotate3d(1, 0, 1, 330deg); }
  60% {
    -webkit-transform: rotate3d(1, 0, 1, 345deg);
    -moz-transform: rotate3d(1, 0, 1, 345deg);
    -ms-transform: rotate3d(1, 0, 1, 345deg);
    -o-transform: rotate3d(1, 0, 1, 345deg);
    transform: rotate3d(1, 0, 1, 345deg); }
  80% {
    -webkit-transform: rotate3d(1, 0, 1, 335deg);
    -moz-transform: rotate3d(1, 0, 1, 335deg);
    -ms-transform: rotate3d(1, 0, 1, 335deg);
    -o-transform: rotate3d(1, 0, 1, 335deg);
    transform: rotate3d(1, 0, 1, 335deg); }
  100% {
    -webkit-transform: rotate3d(1, 0, 1, 340deg);
    -moz-transform: rotate3d(1, 0, 1, 340deg);
    -ms-transform: rotate3d(1, 0, 1, 340deg);
    -o-transform: rotate3d(1, 0, 1, 340deg);
    transform: rotate3d(1, 0, 1, 340deg); } }
.swing {
  -webkit-transform-origin: top center;
  -ms-transform-origin: top center;
  -moz-transform-origin: top center;
  -o-transform-origin: top center;
  transform-origin: top center;
  -webkit-animation-name: swing;
  -moz-animation-name: swing;
  -ms-animation-name: swing;
  -o-animation-name: swing;
  animation-name: swing; }

/*# sourceMappingURL=main.css.map */
