@import 'variables';

/* --------- TYPOGRAPHY ---------- */

body{
	font-family: 'Open Sans', Helvetica, Arial, Sans-Serif;
	font-weight: 400;
	color: $darkGrey;
	@include box-sizing (border-box);
}

h1, h2, h3, h4, h5, h6, label, p, span {
	font-weight: 400;
	text-align: center;
	line-height: 1.4;
	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;
	font-feature-settings: "kern";
	-webkit-font-feature-settings: "kern";
	-moz-font-feature-settings: "kern";
	-moz-font-feature-settings: "kern=1";
}

h1 {
	font-size: 3em;
	color: white;
}

h2 {
	font-size: 2.2em;
	color: $mainAqua;
}

h3 {
	font-size: 1.3em;
	font-weight: 600;
	color: $darkAqua;
}

h4{
	font-size: 1.2em;
	color: $lightGrey;
}

h5{
	font-size: 1.3em;
}

a {
	color: $mainAqua;
}

a:hover {
	color: white;
	text-decoration: none;
}

p {
	font-size: 1.2em;
	color: $lightGrey;
}

/*-------------------------------------------
                 ICON+IMAGE
---------------------------------------------*/

.img-logo-white, .img-logo-color{
  height:100%;
}

.img-intro{
  width:100%;
  margin-bottom: 30px;
}

.img-mobile {
  margin-top: 80px;
}


/*-------------------------------------------
                 UI KIT
---------------------------------------------*/
/* --------- NAV BAR ---------- */

.navbar {
	border:none;
	position:absolute;
	top: 0;
	width: 100%;
	z-index: 100;
	padding: 50px 0 50px;
	background-size: 100% auto; 
	@include border-radius(0px);
	@include transition ($transition);
}

.navbar-nav{
	margin:0;
}

.navbar-default {
	background-color: transparent;
	border: none;
}

.navbar-brand {
	height: 37px;
	padding: 0;
	margin: 22px 0 !important;
}

.navbar-toggle {
	border: none;
	@include border-radius(2px);
	color: white;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
	background-color: #ffc062;
}

.navbar-default .navbar-nav > li > a {
	color: white;
	font-size: 1em;
	text-transform: uppercase;
	margin: 20px 0 15px 10px;
	padding-top: 10px;
	padding-bottom:10px;
	display: inline-block;
	vertical-align: middle;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
	color: white;
}

.navbar-default .navbar-nav > li > a.btn.btn-info {
	color: white;
}
.navbar-default .navbar-nav > li > a.btn.btn-info:hover {
	color: $mainAqua;
	background-color: white;
}

.navbar .img-logo-color{
	display:none;
}

.navbar.navbar-scroll #btn-cta-top,
.navbar.navbar-scroll .img-logo-color{
	display:inline-block;
}

.navbar.navbar-scroll .img-logo-white {
	display:none;
}

.navbar.navbar-scroll{
	position: fixed;
	top: 0;
	background: white;
	color: $mainAqua;
	padding: 0 0;
	@include box-shadow(0px 1px 5px 0px rgba(0,0,0,0.06));

	-webkit-animation-name: bounce;
	animation-name: bounce;
	-webkit-transform-origin: center bottom;
	-ms-transform-origin: center bottom;
	transform-origin: center bottom;
	-webkit-animation-duration: .5s;
	animation-duration: .5s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	@include transition ($transition);
}

.navbar-scroll.navbar-default .navbar-nav > li > a {
	color: $mainAqua;
}

.navbar-scroll .navbar-nav > li > a.btn.btn-info {
	background-color: white;
	border: 2px solid $mainAqua;
	color: $mainAqua;
}
.navbar-scroll .navbar-nav > li > a.btn.btn-info:hover {
	background-color: $mainAqua;
	color: white;
}
/******* btn *******/

.btn {
	padding: 15px 30px;
	border: 2px solid white;
	font-size: 1em;
	font-weight: 400;
	color: $mainAqua;
	@include border-radius($radius);
	@include transition ($transition);
}

.btn:hover {
	color: white;
	@include transition ($transition);
}

.btn-default {
	background-color: white;
	border: 2px solid white;
	color: $mainAqua;
}

.btn-default:hover,
.btn-default:active,
.btn-default:focus {
	background-color: $mainAqua;
	border: 2px solid $mainAqua;
	color: white;
}

.btn-info {
	background-color: transparent;
	border: 2px white solid;
	color: white;
}

.btn-info:hover,
.btn-info:active,
.btn-info:focus {
	background-color: white;
	border: 2px white solid;
	color: $mainAqua;
}

/******* form *******/

.form-control {
	padding-left: 20px;
	border: none;
	outline: none;
	color: $mainAqua;
	font-size: 1em;
	font-weight: 400;
	@include border-radius ($radius);
	@include box-shadow (none);
}

.form-control:focus {
	outline: none;
	border-color: $lightAqua;
	@include box-shadow (none);
}

.form-control::-moz-placeholder {
	color: $mainAqua;
	opacity: 1;
}

.form-control::-ms-input-placeholder {
	color: $mainAqua;
}

.form-control::-webkit-input-placeholder {
	color: $mainAqua;
}

input,
.form-control {
	outline: none;
}

input:focus,
.form-control:focus {
	outline: none;
}

.input-group .form-control,
.input-group .input-group-btn .btn {
	height: 50px;
}

.input-group-btn:last-child>.btn,
.input-group-btn:last-child>.btn-group {
	color: $mainAqua;
}

/*-------------------------------------------
                 PAGES
---------------------------------------------*/

header {
	background-color: $mainAqua;
	padding-top: 150px;
}

header h1 {
	margin-top: $margin-desktop;
	margin-bottom: $margin-desktop;
}

.sec-showcase {
	padding-bottom: $margin-desktop;
}
.sec-showcase h2 {
	margin-top: $margin-desktop;
}

.sec-showcase h4 {
	margin-bottom: $margin-desktop;
}

.sec-showcase-aqua {
	background-color: $mainAqua;
	h2 {
		color: white;
	}
	h4 {
		color: $darkGrey;
	}
}

.sec-showcase-white {
	background-color: white;
}

.sec-features {
	margin-top: $margin-desktop/2;

	h3,
	p {
		text-align: left;
	}

	p {
		margin-bottom: $margin-desktop;
	}
}

.sec-clients {
	margin-top: $margin-desktop;

	blockquote {
		border: none;
		margin-top: $margin-desktop/3;
		margin-bottom: $margin-desktop/3;
	}

	.client-name {
		display: block;
		font-size: 1.2em;
		font-weight: 600;
		color: $darkAqua;
	}

	.client-title {
		margin-bottom: $margin-desktop;
		display: block;
		font-size: 1em;
		color: $lightGrey;
	}
}

.sec-signup {
	background-color: $lightAqua;
	padding-top: $margin-desktop * 2;
	padding-bottom: $margin-desktop * 2;

	h1 {
		color: $mainAqua;
	}

	h4 {
		color: $darkGrey;
	}

	.input-group {
		margin-top: $margin-desktop/2;
		margin-bottom: $margin-desktop/2;
	}
}

footer {
	background-color: $mainAqua;
	padding-top: 60px;
	padding-bottom: 60px;

	img {
		float: left;
		padding-top: 10px;
	}

	.logo-content {
		float: left;
		padding-left: 6px;
	}

	.logo-name {
		float: left;
		text-align: left;
		font-size: 1.6em;
		font-weight: 400;
		color: white;
	}

	.copyright {
		clear: both;
		float: left;
		text-align: left;
		font-size: 0.9em;
		font-weight: 600;
		color: $lightAqua;
		text-transform: uppercase;
	}
	
	.footer-nav {
		padding-top: 20px;
		text-align: center;
	}

	ul {
		padding-left: 0;
		li {
			display: inline-block;
			text-transform: uppercase;
			font-weight: 400;
			text-align: center;

			a {
				color: white;
			}
		}

		li:not(:first-child) {
			padding-left: 30px;
		}
	}
	
	.footer-right {
		padding-top: 20px;

		.twitter {
			display: block;
			color: white;
			font-weight: 600;
			text-align: center;
			
			a {
				color: white;
			}
		}

		.momentus-website a {
			padding-top: 6px;
			text-align: center;
			font-size: 1.1em;
			font-weight: 600;
			text-transform: uppercase;
			display: block;
			color: $lightAqua;
		}
	}
}