/*-------------------------------------------
              MEDIA QUERIES
---------------------------------------------*/
@import 'variables';

/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */
@media only screen and (min-width: 768px) {

    h1,
    .cd-headline {
        font-size: 2.6em;
    }

    h2 {
        font-size: 2.4em;
    }

    h3 {
        font-size: 1.3em;
    }

    h4 {
        font-size: 1.2em;
    }

    h5 {
        font-size: 1.3em;
    }

    .navbar {
        .navbar-collapse {
            background-color: transparent;
        }

        .navbar-nav {
            height: auto;
        }

        .navbar-nav li {
            height: auto;
        }

        .navbar-nav > li > a {
            padding-top: 10px;
            padding-bottom: 10px;
            font-size: 1.1em;
        }
    }
    .navbar-transparent,
    .navbar-aqua {
        padding: 30px 0;
        .navbar-collapse {
            @include box-shadow(none);
        }
    }

    .navbar-transparent {
        .navbar-nav > li > a {
            color: rgba(white,0.6);
            // @include transition ($transition);
        }

        .navbar-nav > li > a:hover,
        .navbar-nav > li > a:focus {
            color: rgba(white,1);
            background-color: transparent;
            // @include transition ($transition);
        }

        .navbar-nav > li > a.active {
            color: rgba(white,0.8);
            border-bottom: 2px solid rgba($mainAqua, 1);
        }
    }

    .navbar-white {
        padding: 10px 0;

        .navbar-nav > li > a {
            color: rgba($darkGrey,0.8);
        }

        .navbar-nav > li > a:hover,
        .navbar-nav > li > a:focus {
            color: $darkGrey;
            background-color: transparent;
            // @include transition ($transition);
        }

        .navbar-nav > li > a.active {
            color: $mainAqua;
            border-bottom: none;
        }
    }
    
    .navbar-brand {
        height: 70px;
    }

    .navbar-nav {
        margin: 7.5px 15px;
    }

    header {
        padding-top: $margin-desktop * 2;
        min-height: 700px;
    }

    header#header-hr,
    header#header-sales,
    header#header-pricing {
        background-size: 200% auto;
        h1 {
            min-height: initial;
        }
    }

    header#header-pricing {
        padding-top: $margin-desktop * 2;
        min-height: 500px;
    }

    header#header-local {
        min-height: 300px;
        max-height: 500px;

        img {
            margin: 10px auto 100px auto;
            max-height: 200px;
        }
    }

    .sec-email {
        padding-top: $margin-desktop * 2;
        padding-bottom: $margin-desktop * 2;
    }

    #sec-apps,
    #sec-pricing {
        padding-top: $margin-desktop * 3;
        padding-bottom: $margin-desktop;
    }
    
    #sec-analytics {
        .analytics-content {
            left: 50%;
            // transform: translate(-50%, 0);
            @include translate ($translateX, $translateY);
        }
    }

    .myChart-container {
        padding-top: 180px;
    }

    #sec-steps {
        img {
            margin: 50px auto 50px auto;
        }

        #img-connect-team {
            width: 100%;
        }

        #img-create-org {
            width: 70%;
            margin-top: 80px;
        }

        #img-share-with-team,
        #img-share-links {
            width: 70%;
            margin-top: 80px;
        }

        #img-get-analytics {
            width: 80%;
        }
    }

    .notification-content {
        margin-top: 8px;
    }

    .sec-case-study-quote {
        .blockquote-container {
            margin-left: 0px;
            margin-top: 18%;
        }
    }

    #sec-privacy {
        padding-top: $margin-desktop * 3;
        padding-bottom: $margin-desktop;
    }

    footer {
        padding-top: $margin-desktop/2;
        padding-bottom: $margin-desktop/2;

        img {
            width: 22%;
        }

        .logo-name {
            font-size: 2.1em;
        }

        .copyright {
            font-size: 0.8em;
        }

        .footer-nav {
            padding-top: 16px;
        }

        .footer-right {
            padding-top: 16px;

            .twitter {
                text-align: right;
                font-size: 0.8em;
            }

            .momentus-website a {
                padding-top: 6px;
                text-align: right;
                font-size: 0.8em;
            }
        }
    }
}

/* Medium devices (desktops, 992px and up) */
@media only screen and (min-width: 992px) {

    h1,
    .cd-headline {
        font-size: 2.6em;
    }

    h2 {
        font-size: 2.2em;
    }

    h3 {
        font-size: 1.3em;
    }

    h4 {
        font-size: 1.2em;
    }

    h5 {
        font-size: 1.3em;
    }

    header#header-hr,
    header#header-sales,
    header#header-pricing {
        background-size: 180% auto;
    }
    
    .sec-connect {
        #connect-content {
            position: absolute;
            left: 50%;
            // top: 50%;
            // transform: translate(-50%, 0);
            @include translate ($translateX, $translateY);
            z-index: 1;
        }

        .particles-js-canvas-el {
            display: block;
        }
    }

    .myChart-container {
        padding-top: 120px;
    }

    .sec-case-study-quote {
        .blockquote-container {
            margin-top: 22%;
        }
    }

    footer {
        .footer-logo {
            margin: 0 auto;
        }

        img {
            padding-top: 10px;
        }

        .logo-content {
            padding-left: 20px;
        }

        .logo-name {
            font-size: 2.4em;
            font-weight: 300;
        }

        .copyright {
            clear: both;
            float: left;
            font-size: 1em;
            font-weight: 600;
        }
        
        .footer-nav {
            padding-top: 40px;
        }

        ul {
            li {
                display: inline-block;
                text-transform: uppercase;
                font-weight: 400;
                text-align: left;

                a {
                    color: white;
                }
            }

            li:not(:first-child) {
                padding-left: 30px;
            }
        }

        .footer-right {
            padding-top: 30px;

            .twitter {
                font-size: 1em;
            }

            .momentus-website a {
                font-size: 1em;
            }
        }
    }
}

/* Large devices (large desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    h1,
    .cd-headline {
        font-size: 2.6em;
    }

    h2 {
        font-size: 2.4em;
    }

    h3 {
        font-size: 1.4em;
    }

    h4 {
        font-size: 1.2em;
    }

    h5 {
        font-size: 1.4em;
    }

    header#header-hr,
    header#header-sales,
    header#header-pricing {
        background-size: 150% auto;
    }

    .sec-case-study-quote {
        .blockquote-container {
            margin-top: 25%;
        }
    }

    footer {
        .logo-name {
            font-size: 3em;
        }

        .footer-right {
            .twitter {
                font-size: 1em;
            }

            .momentus-website a {
                font-size: 1.1em;
            }
        }
    }

}