/*-------------------------------------------
              MEDIA QUERIES
---------------------------------------------*/
@import 'variables';

/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */
@media only screen and (min-width: 768px) {

    .navbar-default {
        padding: 50px 0;
    }

    .navbar-scroll {
        padding: 10px 0;
    }
    
    .navbar-brand {
        height: 70px;
    }

    .navbar-nav {
        margin: 7.5px 15px;
    }

    .navbar-default {
        .navbar-collapse {
            @include box-shadow(none);
        }
    }

    header {
        padding-top: $margin-desktop * 1.5;
    }

    .sec-email {
        padding-top: $margin-desktop * 2;
        padding-bottom: $margin-desktop * 2;
    }

    .sec-apps {
        padding-top: $margin-desktop * 3;
        padding-bottom: $margin-desktop;
    }

    .sec-privacy {
        padding-top: $margin-desktop * 3;
        padding-bottom: $margin-desktop;
    }

    footer {
        padding-top: $margin-desktop/2;
        padding-bottom: $margin-desktop/2;

        img {
            width: 22%;
        }

        .logo-name {
            font-size: 2.1em;
        }

        .copyright {
            font-size: 0.8em;
        }

        .footer-nav {
            padding-top: 16px;
        }

        .footer-right {
            padding-top: 16px;

            .twitter {
                text-align: right;
                font-size: 0.8em;
            }

            .momentus-website a {
                padding-top: 6px;
                text-align: right;
                font-size: 0.8em;
            }
        }
    }
}

/* Medium devices (desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    footer {
        .footer-logo {
            margin: 0 auto;
        }

        img {
            padding-top: 10px;
        }

        .logo-content {
            padding-left: 20px;
        }

        .logo-name {
            font-size: 2.4em;
            font-weight: 300;
        }

        .copyright {
            clear: both;
            float: left;
            font-size: 1em;
            font-weight: 600;
        }
        
        .footer-nav {
            padding-top: 40px;
        }

        ul {
            li {
                display: inline-block;
                text-transform: uppercase;
                font-weight: 400;
                text-align: left;

                a {
                    color: white;
                }
            }

            li:not(:first-child) {
                padding-left: 30px;
            }
        }

        .footer-right {
            padding-top: 30px;

            .twitter {
                font-size: 1em;
            }

            .momentus-website a {
                font-size: 1em;
            }
        }
    }
}

/* Large devices (large desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    h1 {
        font-size: 3.6em;
    }

    h2 {
        font-size: 2.8em;
    }

    h3 {
        font-size: 1.4em;
    }

    h4 {
        font-size: 1.4em;
    }

    h5 {
        font-size:1.6em;
    }

    footer {
        .logo-name {
            font-size: 3em;
        }

        .footer-right {
            .twitter {
                font-size: 1em;
            }

            .momentus-website a {
                font-size: 1.1em;
            }
        }
    }

}