@import 'variables';
@import 'ui-kit';

/*-------------------------------------------
                    BASE
---------------------------------------------*/
/* --------- GLOBAL ---------- */
.clickable {
	cursor: pointer;
}

.noPadding{
	padding:0 0 0 0;
}

.noMargin {
	margin: 0 0 0 0;
}

.alignCenter {
	margin: 0 auto;
}

.hidden {
    visibility: none;
}

.main-content {
    margin-top: $navbar-main-height + $navbar-lower-height;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    list-style: none; // for IE9
}

textarea,
input {
    outline: none;
}

input:focus,
textarea:focus {
    outline: none;
}

/* --------- TYPOGRAPHY ---------- */

html {
    height: 100%;
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
}

body{
    height: 100%;
    font-family: Source Sans Pro, Helvetica, Arial, Sans-Serif;
    font-weight: 400;
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, label, p, span, a, .h1{
	font-family: Source Sans Pro, sans-serif;
	text-align: left;

	/* css trick to render the text for better results */
	text-rendering: optimizeLegibility;
	font-feature-settings: "kern";
	-webkit-font-feature-settings: "kern";
	-moz-font-feature-settings: "kern";
	-moz-font-feature-settings: "kern=1";
}

h1,
.h1 {
	color: $black;
	font-size: 2em;
	font-weight: 600;
    margin-top: 20px;
    margin-bottom: 20px;
}

h2 {
	color: $black;
	font-size: 1.8em;
	font-weight: 600;
    margin-top: 19px;
    margin-bottom: 19px;
}

h3 {
	font-size: 1.6em;
    margin-top: 18px;
    margin-bottom: 18px;
}

h4 {
	font-size: 1.4em;
    margin-top: 16px;
    margin-bottom: 16px;
}

h5 {
    font-size: 1.3em;
    margin-top: 14px;
    margin-bottom: 14px;
}

p {
	font-size: 1.2em;
	font-weight: 300;
	color: #222;
}

label {
	color: $black;
}

a {
	color: $greenDark;
}

a:hover,
a:focus {
	color: $green;
	text-decoration: none;
}

/* ---- Make Bootstrap Default Gutter Smaller ----- */

.row.small-gutter [class*='col-']:not(:first-child),
.row.small-gutter [class*='col-']:not(:last-child) {
    padding-left: 1px;
    padding-right: 1px;
}

.row.small-gutter [class*='col-']:first-child {
    padding-left: 0;
}

.row.small-gutter [class*='col-']:last-child {
    padding-right: 0;
}

/*--------------------------------------
                    PAGE
-----------------------------------------*/
/* =========== TEAM STEAMS ============ */
body {
    background-color: $greyLight;
}

.wrapper-index {
    /* for sticky footer */
    min-height: 100%;
    height: auto !important; /* This line and the next line are not necessary unless you need IE6 support */
    height: 100%;
    margin: 0 auto -155px; /* the bottom margin is the negative value of the footer's height */
}

/* -------- FILTER FLYOVER -------- */

.clear_input {
    font-size: 1.4em;
    color: $greyMid;
}

.sec-filter {
    padding: 15px;
    z-index: 1;
    display: none;
    position: fixed;
    background-color: white;
    top: $navbar-main-height + $navbar-lower-height;
    left: 0;
    right: 0;
    height: auto;
    @include box-shadow (0px 0px 10px 0px rgba(0, 0, 0, 0.1));
    @include transition (all 0.5s ease);

    form .dropdown-toggle {
        margin-top: 0;
    }

    .token-input {
        margin-bottom: 0px;
    }

    .filter-icon {
        margin-right: 0.5em;
        position: relative;
        top: -15px;
        width: 5%;
    }

    .user-icon {
        margin-right: 0.5em;
        width: 5%;
    }

    .search-keyword-group {
        margin-bottom: 0px;
    }

    .input-group {
        display: inline-block;
    }

    .token-div {
        width: 91%;
    }

    .tokenfield {
        width: 100% !important;
    }

    .start-date {
        width: 40%;
    }

    .to-date {
        width: 9%;
        font-size: 1.2em;
        text-align: center;
        position: relative;
        top: -15px;
    }

    .end-date {
        width: 40%;
    }

    .bootstrap-select {
        display: inline-block !important;
        width: 91% !important;

        ul.dropdown-menu.inner {
            max-height: 50vh !important;
        }
    }

    .filter-buttons {
        text-align: center;
    }
}

.bs-actionsbox .btn-group button {
        font-size: 1em;
        padding: 5px 10px;
        font-weight: 400;
        min-width: 0;
}

.bootstrap-select button {
    font-weight: 400;
}
.bootstrap-select.btn-group .dropdown-menu li a.opt {
    padding-left: 1em;
}

.bootstrap-select.btn-group.show-tick .dropdown-menu li.selected a span.check-mark {
    font-size: 0.6em;
    color: $greenDark;
    margin-top: 12px;
}

/* =========== VIEW REPORT ============ */


.page-view-report {
    margin-top: 120px;
    
    .view-report-title {
        margin-bottom: 80px;

        h1.report-number {
            display: inline-block;
            font-size: 2.2em;
            font-weight: 400;
        }

        h2.report-author {
            font-size: 1.2em;
            font-weight: 400;
        }

        .btn-export {
            display: inline-block;
            float: right;
            margin-top: 16px;
        }
    }

    .panel-header {
        padding: 16px;
        margin-bottom: 40px;
        background-color: white;
        border-bottom: none;
        @include box-shadow (0px 0px 2px 0px rgba(0, 0, 0, 0.08));

        .panel-section-icon {
            padding-right: 10px;
            font-size: 1.2em;
            color: $greyMid;
        }

        .panel-section-name {
            font-size: 1.4em;
            font-weight: 600;
            color: $black;
        }

        .panel-section-size {
            float: right;
            font-size: 1.2em;
            font-weight: 400;
            color: $greyMid;
        }
    }

    .panel-body {
        padding: 0;

        .img-thumbnail {
            border: none;
            background-color: none;
            padding: 0;
            margin: 16px 0;
            @include border-radius (0);
            @include box-shadow (0px 0px 4px 0px rgba(0, 0, 0, 0.08));
            @include transition (all 0.25s ease);
        }

        .img-thumbnail:hover {
            @include box-shadow (0px 0px 10px 0px rgba(0, 0, 0, 0.28));
            @include transition (all 0.25s ease);
        }
    }

    .sec-view-report {
        margin: 60px 0;
        
        .row:not(:first-child) {
            margin-top: 30px;
        }
    }
}

.sec-weather {
    text-align: center;
    padding: 20px;
    background-color: $aqua;
    color: white;
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
    
    .weather-condition-icon {
        font-size: 2.6em;
    }

    .weather-condition {
        display: block;
        text-align: center;
        font-size: 1.4em;
        margin-top: 10px;
    }

    .weather-location {
        display: block;
        text-align: center;
        font-size: 1em;
    }

    .weather-temperature {
        .weather-temperature-number {
            font-size: 2.4em;
            font-weight: 300;
        }

        .weather-degree {
            font-size: 1.4em;
            vertical-align: top;
        }

    }

    .weather-others {
        margin: 16px auto 0 auto;
        text-align: center;
        font-size: 1em;
        font-weight: 400;
        vertical-align: middle;

        ul {
            li {
                display: inline-block;
                vertical-align: top;

                div {
                    display: inline-block;
                    font-size: 1.2em;
                }
            }

            li:not(:first-child) {
                padding-left: 16px;
            }
        }
    }

}

.panel-section {
    background-color: white;
    margin: 8px 0;
    padding: 16px 16px;
    font-size: 1.2em;
    border-top: 1px solid $greyMid;
    border-bottom: 1px solid $greyMid;
}

.modal-thumbnail {
    padding: 8px 16px;

    .row {
        margin-left: 0;
        margin-right: 0;
    }
}

.panel-note {
    padding: 8px 16px;
    background-color: white;
    @include box-shadow (0px 0px 2px 0px rgba(0, 0, 0, 0.08));
    @include transition (all 0.25s ease);

    .panel-note-header,
    p {
        padding: 8px 0;
    }

    .panel-note-title {
        font-size: 1.2em;
        font-weight: 400;
        color: $black;
    }

    .panel-note-time {
        font-size: 1.2em;
        font-weight: 400;
        color: $greyMid;
        float: right;
    }

    p {
        font-size: 1.2em;
    }
}

.panel-note:not(:first-child) {
    margin-top: 30px;
}

.panel-note:hover {
    @include box-shadow (0px 0px 10px 0px rgba(0, 0, 0, 0.12));
    @include transition (all 0.25s ease);
}


/* =========== ACCOUNT ============ */
img.org-logo {
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
}

img.qr-code {
    display: block;
    margin: 0 auto;
}

#my-account {
    .accordion-heading {
        padding-left: 15px;
        color: $green;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;

        label {
            padding-top: 20px;
            padding-bottom: 10px;
        }
    }

}

/* =========== DASHBOARD ============ */

#org-account,
#billings,
#members {
    h3 {
        font-weight: 600;
    }
}

/* ---- Org Account ---- */
.org-logo-upload {
    max-width: 100px;
    max-height: 100px;
    border: 1px solid $greyMid;
}
/* ---- Billings ---- */
#billings {
    .panel-heading {
        h3 {
            display: inline-block;
        }  

        button {
            float: right;
            margin-top: 8px;
            margin-bottom: 8px;
        }
    }
    
    h4 {
        font-size: 1.2em;
        margin-top: 14px;
        margin-bottom: 10px;
        font-weight: 600;
    }

    .panel-body {
        span {
            display: block;
        }
    }
}

/* ---- Members ---- */
#members {
    .dropdown button,
    input {
        width: 100%;
    }

    .dropdown button {
        text-align: left;
    }
}


.btn-invite-users {
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
}

.list-member-group {
    margin-top: 20px;
}

.list-member {
    background-color: white;
    margin-bottom: 5px;
    
    .accordion-heading {
        padding: 16px;

        .user-fullname {
            float: left;
        }

        .user-role {
            float: right;
        }

        .user-username {
            clear: both;
            float: left;
        }

        .user-job-title {
            clear: both;
            float: left;
        }

        .user-settings {
            float: right;
            margin-left: 10px;
        }

        .user-settings.btn {
            min-width: 1px;
            padding: 4px 8px;
            font-size: 0.8em;
        }

        .user-email {
            clear: both;
            float: left;
        }
    }

    .panel-collapse {
        padding: 16px;
        border-top: 1px solid $greyLight;

        .btn {
            width: 100%;
            margin-top: 2px;
            margin-bottom: 2px;
        }

        .btn-sm {
            padding: 5px 10px;
            font-size: 1em;
            line-height: 1.5;
        }
    }
}

/* =========== SWITCH ORG ============ */



/* =========== SIGN IN & SIGN UP ============ */
.panel-center {
    position: absolute;
    top: 50%;
    left: 50%;
    // transform: translate(-50%, -50%);
    @include translate(-50%,-50%);
}

.panel-sign-in {
    margin-top: 20%;
    border: 1px solid $greyLight;
    @include box-shadow (0px 0px 10px 0px rgba(0, 0, 0, 0.08));
    
    h1 {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .panel-body {
        p {
            padding: 10px 0 10px 0;
        }
    }
}

.list-group-item {
    img {
        padding: 0;
        padding-right: 20px;
    }
}

form .btn.btn-add-invitation {
    margin-left: 0;
    font-weight: 400;
    font-size: 1em;
}


/* =========== MODAL - View Members ============ */
#modal-view-members {
     .list-member {
        background-color: white;
        margin-bottom: 0px;
        
        .accordion-heading {
            padding: 8px 8px;

            .user-fullname {
                display: inline-block;
                float: left;
            }

            .user-role {
                float: right;
            }

            .user-username {
                display: inline-block;
                // clear: none;
                float: left;
            }

            // .user-job-title {
            //     clear: both;
            //     float: left;
            // }

            .user-settings.btn {
                min-width: 1px;
                padding: 4px 8px;
                font-size: 0.8em;
            }

            // .user-email {
            //     clear: both;
            //     float: left;
            // }
        }

        .panel-collapse {
            padding: 16px;
            border-top: 1px solid $greyLight;

            .btn {
                width: 100%;
                margin-top: 2px;
                margin-bottom: 2px;
            }

            .btn-sm {
                padding: 5px 10px;
                font-size: 1em;
                line-height: 1.5;
            }
        }
    }

    .list-member:first-child {
        border-top: 1px solid $greyLight;
    }

    .list-member:last-child {
        border-bottom: none;
    }

    .list-member:hover {
        background-color: rgba($greyLight, 0.2);
    }
}

/* =========== MODAL - Export ============ */
.input-share-link {
    display: inline-block;
}

/* =========== MODAL - NOTE ============ */
.modal-note {
    .modal-lg {
        width: 100%;
        height: 100vh;
        margin-top: 0;
    }

    .note-title {
        font-weight: 600;
    }

    .note-time {
        font-size: 1.1em;
        font-weight: 400;
    }
    
    .modal-header {
        // position: fixed;
        // right: 0;
        // left: 0;
        // z-index: 1030;
        padding: 16px 32px;
        // background-color: white;
    }

    .modal-body {
        // position: relative;
        // margin-top: 90px;
        padding: 32px;
        // background-color: white;
        max-height: calc(100vh - 90px);
        overflow-y: auto;
    }
}

/* =========== MODAL - CAROUSEL ============ */
.modal-carousel {
    .container {
        width: 90%;
    }
}

/* =========== MODAL - USER PROFILE ============ */
.modal-user-profile {

    .user-fullname {
        clear: both;
        float: left;
    }

    .user-role {
        clear: both;
        float: left;
    }

    .user-username {
        clear: both;
        float: left;
    }

    .user-job-title {
        clear: both;
        float: left;
    }

    .user-email {
        clear: both;
        float: left;
    }

    .user-profile-content {
        margin-bottom: 32px;
    }
}

/* =========== GLOBAL SEARCH MODAL ============ */
#modal-global-search {
    z-index: 9999;
    display: none;
    position: absolute;
    padding: 0;
    background-color: white;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    .number-of-results {
        display: inline-block;
        padding: 6px 0;
        color: $greyDark;
    }

    .modal-content {
        @include box-shadow (none); 
        border: none;   
    
        .modal-header {
            background-color: $greyLight;
            padding-bottom: 0px;
            border-bottom: 1px solid $greyMid;

            .close{
                margin-top: 8px;
            }

            .search-bar {
                margin-right: 30px;

                .form-group {
                    margin-bottom: 0;
                }

                .search-icon {
                    top: 23px;
                    left: 26px;
                }
            }
        }
        
        .modal-body {
            min-height: 500px;
            padding-top: 0;
            padding-left: 0;
            padding-right: 0;
        }

        .tab-content {
        
            .tab-pane {
                padding-top: 30px;
                padding-left: 15px;
                padding-right: 15px;
            }

        }        

        nav.nav-pagination {
            margin-left: -30px;
            margin-right: -30px;

            .pagination {
                padding-left: 15px;
                padding-right: 15px;
            }
        }
    }

    .nav>li>a {
        padding: 14px 12px 6px 12px;
        margin: 0 3px;
    }

}

#search-results-reports {
    h4 {
        margin-top: 0;
    }

    label {
        display: inline-block;
    }

    section {
        margin-top: 30px;
        margin-bottom: 30px;
    }

    span.reference {
        display: inline-block;
        margin: 0 0 6px 0;
        color: $greyDark;
    }

    p {
        font-size: 1em;
    }

    .img-thumbnail {
        padding: 0;
        border-radius: 0;
        border: none;
    }
}

#search-results-messages {
    background-color: rgba($greyLight, 0.5);
}

#search-results-users {

    .search-results-user {
        margin: 20px 0;

        .user-fullname {
            clear: both;
            float: left;
        }

        .user-username {
            clear: both;
            float: left;
        }

        .user-role {
            clear: both;
            float: left;
        }

        .user-job-title {
            clear: both;
            float: left;
        }

        .user-email {
            clear: both;
            float: left;
        }
    }
}
#search-results-teams {
    .search-results-team {
        margin: 20px 0;

        .team-name {
            clear: both;
            float: left;
            margin: 6px 0;
        }
        
        .team-number-of-users {
            clear: both;
            float: left;
            margin: 6px 0;
        }
        
        .team-admin {
            clear: both;
            float: left;
            margin: 6px 0;
        }

        .team-descr {
            clear: both;
            margin: 6px 0;
            font-size: 1em;
        }
    }
}
