/* --------- COLOR PALETTES ---------- */
$green: #18b750; //main color
$greenDark: #28a55e; //main color when bg is light grey

$orange: #e75a24; //secondary color

$greyLight: #efeff4;
$greyMid: #c8c7cc;
$greyDark: #484A49; //text, to replace plain $black

$black: #1C1F1D;

/* --------- VARIABLES ---------- */
$navbar-main-height: 60px;
$navbar-lower-height: 56px;

$bubble-triangle-edge: 12px;

$sidebar-width: 230px;

/*---------- MIXINS ---------- */
@mixin box-shadow ($box-shadow) {
    -webkit-box-shadow: $box-shadow;
    -moz-box-shadow:    $box-shadow;
    box-shadow:         $box-shadow;
}

@mixin border-radius ($border-radius) {
    -webkit-border-radius: $border-radius;
    -moz-border-radius:    $border-radius;
    border-radius:         $border-radius;
}

@mixin border-top-right-radius ($border-top-right-radius) {
    -webkit-border-top-right-radius: $border-top-right-radius;
    -moz-border-top-right-radius:    $border-top-right-radius;
    border-top-right-radius:         $border-top-right-radius;
}

@mixin border-top-left-radius ($border-top-left-radius) {
    -webkit-border-top-left-radius: $border-top-left-radius;
    -moz-border-top-left-radius:    $border-top-left-radius;
    border-top-left-radius:         $border-top-left-radius;
}

@mixin border-bottom-right-radius ($border-bottom-right-radius) {
    -webkit-border-bottom-right-radius: $border-bottom-right-radius;
    -moz-border-bottom-right-radius:    $border-bottom-right-radius;
    border-bottom-right-radius:         $border-bottom-right-radius;
}

@mixin border-bottom-left-radius ($border-bottom-left-radius) {
    -webkit-border-bottom-left-radius: $border-bottom-left-radius;
    -moz-border-bottom-left-radius:    $border-bottom-left-radius;
    border-bottom-left-radius:         $border-bottom-left-radius;
}

@mixin transition ($transition) {
    -webkit-transition: $transition;
    -moz-transition: $transition;
    -o-transition: $transition;
    transition: $transition;
}

@mixin transition-ease ($transition) {
    -webkit-transition: border $transition ease-in-out, color $transition ease-in-out;
    -o-transition: border $transition ease-in-out, color $transition ease-in-out;
    -moz-transition: border $transition ease-in-out, color $transition ease-in-out;
    transition: border $transition ease-in-out, color $transition ease-in-out;
}

// generic transform
@mixin transform($transforms) {
       -moz-transform: $transforms;
         -o-transform: $transforms;
        -ms-transform: $transforms;
    -webkit-transform: $transforms;
          transform: $transforms;
}

// translate
@mixin translate ($x, $y) {
   @include transform(translate($x, $y));
}