/* --------- COLOR PALETTES ---------- */
/* --------- VARIABLES ---------- */
/*---------- MIXINS ---------- */
/*-------------------------------------------
                    BASE
---------------------------------------------*/
/* --------- GLOBAL ---------- */
.clickable {
  cursor: pointer; }

.noPadding {
  padding: 0 0 0 0; }

.noMargin {
  margin: 0 0 0 0; }

.alignCenter {
  margin: 0 auto;
  text-align: center; }

.alignLeft {
  text-align: left; }

.alignRight {
  text-align: right; }

.hidden {
  visibility: none; }

.main-content {
  margin-top: 116px; }

input:focus,
textarea:focus {
  outline: none; }

/* --------- TYPOGRAPHY ---------- */
html {
  height: 100%;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important; }

body {
  height: 100%;
  font-family: Source Sans Pro, Helvetica, Arial, Sans-Serif;
  font-weight: 400;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

h1, h2, h3, h4, h5, h6, label, p, span, a, .h1 {
  font-family: Source Sans Pro, sans-serif;
  text-align: left;
  /* css trick to render the text for better results */
  text-rendering: optimizeLegibility;
  font-feature-settings: "kern";
  -webkit-font-feature-settings: "kern";
  -moz-font-feature-settings: "kern";
  -moz-font-feature-settings: "kern=1"; }

h1,
.h1 {
  color: #1C1F1D;
  font-size: 2em;
  font-weight: 600;
  margin-top: 30px;
  margin-bottom: 30px; }

h2 {
  color: #1C1F1D;
  font-size: 1.8em;
  font-weight: 600;
  margin-top: 20px;
  margin-bottom: 20px; }

h3 {
  font-size: 1.6em;
  margin-top: 18px;
  margin-bottom: 18px; }

h4 {
  font-size: 1.4em;
  margin-top: 16px;
  margin-bottom: 16px; }

p {
  font-size: 1.2em;
  font-weight: 300;
  color: #222; }

label {
  color: #1C1F1D; }

a {
  color: #28a55e; }

a:hover,
a:focus {
  color: #18b750;
  text-decoration: none; }

/* ---- Make Bootstrap Default Gutter Smaller ----- */
.row.small-gutter [class*='col-']:not(:first-child),
.row.small-gutter [class*='col-']:not(:last-child) {
  padding-left: 1px;
  padding-right: 1px; }

.row.small-gutter [class*='col-']:first-child {
  padding-left: 0; }

.row.small-gutter [class*='col-']:last-child {
  padding-right: 0; }

/* --------- UIKIT ---------- */
/* ------------- Button --------------*/
.btn {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  padding: 8px 16px;
  -webkit-box-shadow: 0px 0px 0px 0px transparent;
  -moz-box-shadow: 0px 0px 0px 0px transparent;
  box-shadow: 0px 0px 0px 0px transparent;
  font-weight: 600;
  font-size: 1.2em;
  min-width: 120px; }

.btn-default {
  background-color: white;
  border-color: #c8c7cc;
  color: #484A49;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease; }

.btn-default:hover {
  background-color: #efeff4;
  border-color: #c8c7cc;
  color: #484A49;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease; }

.btn-black {
  background-color: #1C1F1D;
  border-color: #1C1F1D;
  color: white;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease; }

.btn-black:hover {
  background-color: #484A49;
  border-color: #484A49;
  color: white;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease; }

.btn-success {
  background-color: #28a55e;
  border-color: #28a55e;
  color: white;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease; }

.btn-success:hover {
  background-color: #18b750;
  border-color: #18b750;
  color: white;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease; }

.btn-fail {
  background-color: #e75a24;
  border-color: #e75a24;
  color: white; }

/* ------------- Form --------------*/
form .row {
  padding-left: 15px;
  padding-right: 15px; }
form .btn {
  margin-left: 15px;
  margin-top: 10px; }

.form-control {
  width: 100%;
  padding: 8px 16px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  border-color: #c8c7cc;
  font-size: 1.2em;
  height: auto;
  -webkit-box-shadow: 0px 0px 0px 0px transparent;
  -moz-box-shadow: 0px 0px 0px 0px transparent;
  box-shadow: 0px 0px 0px 0px transparent; }

.input-group-addon {
  font-size: 1.2em;
  background-color: #efeff4;
  border-color: #c8c7cc;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0; }

.form-control[disabled],
.form-control[readonly],
fieldset[diabled].form-control {
  background-color: #efeff4; }

label {
  font-size: 1.2em; }

.search-bar .search-icon {
  position: absolute;
  top: 8px;
  left: 10px;
  font-size: 1.2em;
  color: #c8c7cc; }
.search-bar input {
  width: 100%;
  padding-left: 32px; }

/* ---------- Token Field - Tags ----------*/
.tokenfield {
  height: auto;
  margin-bottom: 10px; }

.tokenfield .token-input {
  height: initial; }

.tokenfield .token {
  height: initial;
  background-color: #efeff4;
  border-color: #efeff4;
  margin: 0 5px 5px 0; }

.tokenfield .token.active {
  border-color: #28a55e; }

.tokenfield .token.invalid.active {
  background-color: white;
  border-color: #e75a24; }

/* ----------- Textarea -----------*/
textarea {
  resize: inherit;
  overflow: auto;
  width: 100%;
  min-height: 100px;
  font-size: 1.1em;
  padding-top: 16px; }

/* the styles for 'commmon' are applied to both the textarea and the hidden clone */
/* these must be the same for both */
::-webkit-input-placeholder,
:-moz-placeholder,
::-moz-placeholder,
:-ms-input-placeholder {
  color: #c8c7cc;
  font-weight: 300;
  font-size: 1.2em; }

/* --------- NAV BAR ---------- */
.navbar {
  border: none;
  font-weight: 400; }

/* NAV BAR - MAIN */
.navbar-main {
  background-color: #28a55e;
  margin-bottom: 0;
  height: 60px;
  -webkit-box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.05);
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.05); }
  .navbar-main .navbar-nav.navbar-left > li > a {
    color: white;
    font-size: 1.4em;
    font-weight: 600;
    padding-top: 20px;
    padding-bottom: 20px; }
  .navbar-main .navbar-nav.navbar-right > li > a {
    color: white;
    font-size: 1.2em;
    font-weight: 400;
    padding-top: 20px;
    padding-bottom: 20px; }
  .navbar-main .navbar-nav > .open > a,
  .navbar-main .navbar-nav > .open > a:focus,
  .navbar-main .navbar-nav > .open > a:hover {
    background-color: #18b750;
    color: white; }

.navbar-brand {
  padding: 0; }

.img-logo {
  max-width: 60px; }

.dropdown-menu {
  -webkit-box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.25); }

/* NAV BAR - LOWER */
.navbar-lower {
  width: auto;
  position: fixed;
  left: 0;
  margin-top: 60px;
  z-index: 10;
  vertical-align: middle;
  height: 56px;
  -webkit-box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.05);
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.05);
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease; }
  .navbar-lower .navbar-nav.navbar-left > li > a,
  .navbar-lower .navbar-nav.navbar-right > li > a {
    font-size: 1.1em;
    font-weight: 400;
    padding-top: 18.66667px;
    padding-bottom: 18.66667px; }

#navbar-team-toggle,
#navbar-sidebar-toggle {
  display: inline-block; }

/* ---------- List Item ----------- */
.list-group {
  margin-bottom: 10px; }

.list-group-item {
  position: relative;
  display: block;
  padding: 10px 15px 10px 0;
  margin: 2px 0;
  background-color: #fff;
  border: none;
  border-bottom: 1px solid #efeff4; }
  .list-group-item .list-name {
    font-size: 1.2em;
    vertical-align: middle; }

.list-group-item:first-child {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px; }

.list-group-item:last-child {
  margin-bottom: 0;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  border-bottom: none; }

/* ---------- Panel ----------- */
.panel {
  border: none;
  width: 100%;
  margin: 0 auto; }

.panel-heading {
  border-bottom: none;
  padding: 20px 30px 20px 30px; }

.panel-body {
  padding: 10px 30px 30px 30px; }

.panel-footer {
  background-color: white;
  border-top: none;
  padding: 10px 30px 10px 30px; }

.panel-default {
  border: 1px solid #efeff4;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.04);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.04);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.04); }

.panel-default > .panel-heading {
  color: #333;
  background-color: white;
  border-color: #ddd; }

/* ---------- COMMENT -------------- */
.sec-comment .accordion-heading {
  padding: 18px 16px 12px 16px;
  background-color: white;
  color: #18b750;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  text-align: center; }
  .sec-comment .accordion-heading .accordion-toggle {
    font-size: 1em;
    text-align: center; }
.sec-comment .row-comment {
  padding: 8px 16px;
  background-color: white;
  border-bottom: 1px solid #efeff4; }
  .sec-comment .row-comment .comment-name,
  .sec-comment .row-comment .comment-time {
    line-height: 2; }
  .sec-comment .row-comment .comment-name {
    font-size: 1.2em;
    color: #1C1F1D;
    font-weight: 600; }
  .sec-comment .row-comment .comment-time {
    float: right;
    font-size: 1.1em;
    font-weight: 400;
    color: #c8c7cc; }
  .sec-comment .row-comment p {
    font-size: 1.1em;
    font-weight: 400; }
  .sec-comment .row-comment .comment-tag {
    color: #18b750;
    font-weight: 600; }
.sec-comment .comment-form {
  background-color: white;
  text-align: left;
  padding: 0 0 16px 0;
  margin-top: 10px; }
  .sec-comment .comment-form textarea {
    margin-top: 10px;
    border: none;
    outline: none;
    resize: inherit;
    overflow: auto;
    width: 100%;
    min-height: 100px;
    font-size: 1.1em;
    padding: 16px; }
  .sec-comment .comment-form .btn {
    margin-left: 16px; }

/* ------------- SIDEBAR --------------*/
/* Toggle Styles */
#wrapper {
  padding-left: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease; }

#wrapper.toggledSidebar {
  padding-left: 250px; }

#sidebar-wrapper {
  z-index: 999;
  position: fixed;
  left: 250px;
  width: 0;
  height: 100%;
  margin-left: -250px;
  overflow-y: auto;
  background: white;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease; }

#wrapper.toggledSidebar #sidebar-wrapper {
  width: 250px; }

#page-content-wrapper {
  width: 100%;
  position: absolute;
  padding: 15px; }

#wrapper.toggledSidebar #page-content-wrapper {
  position: absolute;
  margin-right: -250px; }

/* Sidebar Styles */
.sidebar-left {
  -webkit-box-shadow: 2px 0px 10px 0px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 2px 0px 10px 0px rgba(0, 0, 0, 0.05);
  box-shadow: 2px 0px 10px 0px rgba(0, 0, 0, 0.05); }

.sidebar-right {
  -webkit-box-shadow: -2px 0px 10px 0px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: -2px 0px 10px 0px rgba(0, 0, 0, 0.05);
  box-shadow: -2px 0px 10px 0px rgba(0, 0, 0, 0.05); }

#sidebar-wrapper {
  margin-top: 60px; }

.sidebar-nav {
  position: absolute;
  top: 0;
  width: 250px;
  margin: 0;
  padding: 0;
  list-style: none; }
  .sidebar-nav li {
    text-indent: 20px;
    line-height: 60px;
    border-bottom: 2px solid #efeff4;
    color: #484A49;
    font-size: 1.1em; }
    .sidebar-nav li a {
      display: block;
      color: #484A49;
      text-decoration: none; }
    .sidebar-nav li .active,
    .sidebar-nav li .active:hover {
      background-color: #28a55e; }
      .sidebar-nav li .active .team-name,
      .sidebar-nav li .active:hover .team-name {
        font-weight: 600;
        color: white; }
  .sidebar-nav li:hover {
    background-color: white; }
  .sidebar-nav li.sidebar-title-area {
    line-height: 46px;
    padding-top: 18px;
    font-size: 1.1em;
    font-weight: 600;
    text-transform: uppercase;
    color: #c8c7cc;
    background-color: #efeff4; }
    .sidebar-nav li.sidebar-title-area .sidebar-add {
      float: right;
      padding-right: 30px;
      color: #c8c7cc;
      cursor: pointer; }
    .sidebar-nav li.sidebar-title-area .sidebar-add:hover {
      color: #28a55e; }

.team-name {
  text-align: left; }

.team-notification {
  text-align: right;
  float: right;
  padding-right: 30px;
  font-size: 0.8em;
  color: #e75a24; }

.user-visibility {
  text-align: left; }

.user-name {
  text-align: left;
  padding-left: 20px; }

.sub {
  max-width: 0;
  max-height: 0;
  overflow: hidden;
  transition: max-width 0s; }

ul.sub.active {
  max-width: 1000px;
  max-height: 1000px;
  transition: max-width 1s 0.1s; }

.sub li {
  overflow: hidden;
  white-space: nowrap; }

/* ------------- Modal --------------*/
.modal-back,
.modal-close {
  margin-top: 30px;
  text-align: center;
  display: inline-block;
  position: relative;
  width: 100%; }
  .modal-back .btn-default,
  .modal-close .btn-default {
    background-color: rgba(0, 0, 0, 0.6);
    border: none;
    color: white;
    font-size: 1.4em; }
  .modal-back .btn-default:hover,
  .modal-close .btn-default:hover {
    background-color: rgba(0, 0, 0, 0.7); }

.modal-back:after,
.modal-close:after {
  content: "";
  display: block;
  margin-top: 100%; }

.modal-content {
  position: relative;
  background-color: white;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  outline: 0;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.08);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.08);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.08); }

.modal.fade .modal-dialog {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease; }

/* ------------- Carousel --------------*/
.carousel-inner {
  height: 100vh;
  display: table;
  background-color: #1C1F1D; }

.item {
  display: table-cell;
  height: inherit;
  vertical-align: middle;
  display: inline-block; }

.img-responsive {
  max-height: 100vh;
  margin: 0 auto;
  vertical-align: middle; }

.carousel-caption {
  height: 80px;
  line-height: 24px;
  /* Height / no. of lines to display */
  overflow: hidden;
  background-color: rgba 0, 0, 0, 1;
  text-align: left;
  font-size: 1.2em;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
  left: 0;
  right: 0;
  bottom: 56px;
  padding: 10px 32px 30px 32px; }

/* -------------- CHAT -------------- */
footer, .push {
  height: 155px;
  /* .push must be the same height as .footer */ }

.sec-chat {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #efeff4;
  padding: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease; }
  .sec-chat .comment-form {
    background-color: transparent;
    text-align: left; }
    .sec-chat .comment-form textarea {
      border: none;
      border-top: 1px solid #c8c7cc;
      outline: none;
      resize: inherit;
      overflow: auto;
      width: 100%;
      min-height: 20px;
      font-size: 1.1em;
      padding: 16px; }

/* ------------ CHAT BUBBLE ---------- */
.bubble {
  position: relative;
  cursor: pointer;
  width: 100%;
  padding: 8px 20px 6px 20px;
  margin-top: 16px;
  margin-bottom: 16px;
  clear: both;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  border-radius: 16px;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.04);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.04);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.04);
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease; }
  .bubble .bubble-name,
  .bubble .bubble-time {
    line-height: 2; }
  .bubble .bubble-name {
    font-size: 1.2em;
    font-weight: 600; }
  .bubble .bubble-time {
    float: right;
    font-size: 1.2em;
    font-weight: 300;
    padding-left: 20px; }
  .bubble p {
    font-size: 1.1em;
    font-weight: 400; }
  .bubble .bubble-tag {
    font-weight: 600; }

.bubble:hover {
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.08);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.08);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.08);
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease; }

.bubble-default {
  float: left;
  background-color: white;
  -webkit-border-bottom-left-radius: 0px;
  -moz-border-bottom-left-radius: 0px;
  border-bottom-left-radius: 0px; }
  .bubble-default .bubble-name,
  .bubble-default p {
    color: #484A49; }
  .bubble-default .bubble-time {
    color: #c8c7cc; }
  .bubble-default .bubble-tag,
  .bubble-default a {
    color: #18b750; }

.bubble-default:after {
  content: "";
  position: absolute;
  bottom: -12px;
  /* value = - border-top-width - border-bottom-width */
  left: 0px;
  /* controls horizontal position */
  border-width: 12px 12px 0 0;
  /* vary these values to change the angle of the vertex */
  border-style: solid;
  border-color: white transparent;
  /* reduce the damage in FF3.0 */
  display: block;
  width: 0; }

.bubble-success {
  float: right;
  background-color: #28a55e;
  -webkit-border-bottom-right-radius: 0px;
  -moz-border-bottom-right-radius: 0px;
  border-bottom-right-radius: 0px; }
  .bubble-success .bubble-name,
  .bubble-success p {
    color: white; }
  .bubble-success .bubble-time {
    color: white; }
  .bubble-success .bubble-tag,
  .bubble-success a {
    color: white; }

.bubble-success:after {
  content: "";
  position: absolute;
  bottom: -12px;
  /* value = - border-top-width - border-bottom-width */
  right: 0px;
  /* controls horizontal position */
  border-width: 12px 0 0 12px;
  /* vary these values to change the angle of the vertex */
  border-style: solid;
  border-color: #28a55e transparent;
  /* reduce the damage in FF3.0 */
  display: block;
  width: 0; }

/*--------------------------------------
                    PAGE
-----------------------------------------*/
/* =========== TEAM ACTIVITIES ============ */
body {
  background-color: #efeff4; }

.wrapper-index {
  /* for sticky footer */
  min-height: 100%;
  height: auto !important;
  /* This line and the next line are not necessary unless you need IE6 support */
  height: 100%;
  margin: 0 auto -155px;
  /* the bottom margin is the negative value of the footer's height */ }

/* --------- REPORT PANEL -----------*/
.panel-report {
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 0;
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease; }
  .panel-report .panel-heading {
    padding: 30px 20px;
    border-bottom: none;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px; }
    .panel-report .panel-heading .panel-name {
      text-align: left;
      font-size: 1.4em;
      font-weight: 600;
      color: #1C1F1D; }
    .panel-report .panel-heading .panel-time {
      text-align: right;
      float: right;
      color: #c8c7cc;
      font-size: 1.2em;
      font-weight: 400; }
  .panel-report .panel-body {
    padding: 0 20px 20px 20px;
    /* Status */ }
    .panel-report .panel-body .row {
      margin-right: -20px;
      margin-left: -20px; }
    .panel-report .panel-body p {
      padding: 20px 0 10px 0; }
    .panel-report .panel-body .panel-status span.report-location,
    .panel-report .panel-body .panel-status li.report-status {
      font-weight: 400;
      font-size: 1.2em;
      line-height: 2;
      color: #c8c7cc;
      text-transform: none; }
    .panel-report .panel-body .panel-status span.report-location {
      text-align: left; }
    .panel-report .panel-body .panel-status ul.report-status-list {
      margin: 0 0;
      display: inline-block;
      float: right;
      vertical-align: middle; }
    .panel-report .panel-body .panel-status li.report-status {
      display: inline-block;
      vertical-align: middle;
      padding: 0 0; }
    .panel-report .panel-body .panel-status li.report-status:not(:first-child) {
      margin-left: 10px; }

.panel-report:hover {
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.12);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.12);
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease; }

/* =========== VIEW REPORT ============ */
.page-view-report {
  margin-top: 120px; }
  .page-view-report .view-report-title {
    margin-bottom: 80px; }
    .page-view-report .view-report-title .panel-title-name {
      font-size: 2.4em;
      font-weight: 400; }
  .page-view-report .panel-header {
    padding: 16px;
    margin-bottom: 40px;
    background-color: white;
    border-bottom: none;
    -webkit-box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.08);
    -moz-box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.08);
    box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.08); }
    .page-view-report .panel-header .panel-section-icon {
      padding-right: 10px;
      font-size: 1.2em;
      color: #c8c7cc; }
    .page-view-report .panel-header .panel-section-name {
      font-size: 1.4em;
      font-weight: 600;
      color: #1C1F1D; }
    .page-view-report .panel-header .panel-section-size {
      float: right;
      font-size: 1.2em;
      font-weight: 400;
      color: #c8c7cc; }
  .page-view-report .panel-body {
    padding: 0; }
    .page-view-report .panel-body .img-thumbnail {
      border: none;
      background-color: none;
      padding: 0;
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      border-radius: 0;
      -webkit-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.08);
      -moz-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.08);
      box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.08);
      -webkit-transition: all 0.25s ease;
      -moz-transition: all 0.25s ease;
      -o-transition: all 0.25s ease;
      transition: all 0.25s ease; }
    .page-view-report .panel-body .img-thumbnail:hover {
      -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.28);
      -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.28);
      box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.28);
      -webkit-transition: all 0.25s ease;
      -moz-transition: all 0.25s ease;
      -o-transition: all 0.25s ease;
      transition: all 0.25s ease; }
  .page-view-report .sec-view-report {
    margin: 60px 0; }
    .page-view-report .sec-view-report .row:not(:first-child) {
      margin-top: 30px; }

.btn-export {
  float: right; }

.panel-section {
  background-color: white;
  margin: 8px 0;
  padding: 16px 16px;
  font-size: 1.2em;
  border-top: 1px solid #c8c7cc;
  border-bottom: 1px solid #c8c7cc; }

.modal-thumbnail {
  padding: 8px 16px; }
  .modal-thumbnail .row {
    margin-left: 0;
    margin-right: 0; }

.panel-note {
  padding: 8px 16px;
  background-color: white;
  -webkit-box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.08);
  -moz-box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.08);
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.08);
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease; }
  .panel-note .panel-note-header,
  .panel-note p {
    padding: 8px 0; }
  .panel-note .panel-note-title {
    font-size: 1.2em;
    font-weight: 400;
    color: #1C1F1D; }
  .panel-note .panel-note-time {
    font-size: 1.2em;
    font-weight: 400;
    color: #c8c7cc;
    float: right; }
  .panel-note p {
    font-size: 1.2em; }

.panel-note:not(:first-child) {
  margin-top: 30px; }

.panel-note:hover {
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.12);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.12);
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease; }

/* =========== ACCOUNT ============ */
img.org-logo {
  display: block;
  margin-top: 10px;
  margin-bottom: 10px; }

img.qr-code {
  display: block;
  margin: 0 auto;
  margin-top: 10%; }

#my-account .accordion-heading {
  padding-left: 15px;
  color: #18b750;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0; }
  #my-account .accordion-heading label {
    padding-top: 20px;
    padding-bottom: 10px; }

/* =========== DASHBOARD ============ */
/* ---- Org Account ---- */
.org-logo-upload {
  max-width: 100px;
  max-height: 100px;
  border: 1px solid #c8c7cc; }

/* ---- Members ---- */
table {
  font-size: 1.2em; }

.btn-invite-users {
  display: block;
  float: right; }

.table-members {
  clear: both; }

/* =========== SWITCH ORG ============ */
/* =========== SIGN IN & SIGN UP ============ */
.panel-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.panel-sign-in {
  margin-top: 20%;
  border: 1px solid #efeff4;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.08);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.08);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.08); }
  .panel-sign-in h1 {
    margin-top: 20px;
    margin-bottom: 20px; }
  .panel-sign-in .panel-body p {
    padding: 10px 0 10px 0; }

.list-group-item img {
  padding: 0;
  padding-right: 20px; }

form .btn.btn-add-invitation {
  margin-left: 0;
  font-weight: 400;
  font-size: 1em; }

/* =========== MODAL - Export ============ */
.input-share-link {
  display: inline-block; }

/* =========== GLOBAL SEARCH MODAL ============ */
#modal-global-search {
  z-index: 9999;
  display: none;
  position: absolute;
  background-color: white;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0; }

/* =========== FILTER FLYOVER ============ */
.sec-filter {
  padding: 15px;
  z-index: 1;
  display: none;
  position: relative;
  background-color: white;
  top: 116px;
  bottom: 0;
  left: 0;
  right: 0; }

/*# sourceMappingURL=custom.css.map */
