/*-------------------------------------------
              MEDIA QUERIES
---------------------------------------------*/

@import 'variables';


/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    /* NAVBAR */
    .navbar-main {
        
        /* dropdown menu - open */
        .navbar-nav .open .dropdown-menu {
            background-color: white;
        }

        /* dropdown menu - open - link*/
        .navbar-nav .open .dropdown-menu>li>a {
            color: $greyDark;
        }
        .navbar-nav .open .dropdown-menu>li>a:hover {
            background-color: rgba(white,0.1);
            color: $greenDark;
        }

        .navbar-nav .open .dropdown-menu .divider {
            background-color: $greyLight;
        }
    }

    #navbar-team-toggle,
    #navbar-sidebar-toggle {
        display: none;
    }

    .navbar-right {
        margin-right: 0;
    }

    .navbar-lower,
    .sec-chat,
    .sec-jump-back {
        left: $sidebar-width; /* $sidebar-width*/
        @include transition (all 0.5s ease);
    }
    
    /* SIDEBAR */
    #wrapper {
        padding-left: $sidebar-width;
    }

    #wrapper.toggledTeams {
        padding-left: 0;
    }

    #sidebar-wrapper {
        width: $sidebar-width;
    }

    #wrapper.toggledTeams #sidebar-wrapper {
        width: 0;
    }

    #page-content-wrapper {
        padding: 20px;
        position: relative;
    }

    #wrapper.toggledTeams #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
    
    /* CHAT */
    .sec-chat {
        background-color: $greyLight;
        padding: 16px;
        border-top: 1px solid $greyMid;

        .comment-form {
            textarea{
                border: none;
                @include box-shadow (0px 0px 2px 0px rgba(0, 0, 0, 0.25));
            }
        }
    }

    .sec-jump-back {
        bottom: 111px;
    }

    /* BUBBLE */
    .bubble {
        width: auto;
        min-width: initial;
        max-width: 60%;
    }

    /* MODAL */
    .modal-dialog {
        width: 100%;
    }
}

/* Medium devices (desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .modal-dialog {
        width: 100%
    }
}

/* Large devices (large desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .modal-dialog {
        width: 100%;
    }
}