/*-------------------------------------------
              MEDIA QUERIES
---------------------------------------------*/
/* --------- COLOR PALETTES ---------- */
/* --------- VARIABLES ---------- */
/*---------- MIXINS ---------- */
/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */
/* Small devices (tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  #page-content-wrapper {
    margin-bottom: 0; }

  .checkbox label {
    padding-left: 0.5em !important; }

  /* --- NAVBAR --- */
  .navbar-main {
    /* dropdown menu - open */
    /* dropdown menu - open - link*/ }
    .navbar-main .navbar-nav .open .dropdown-menu {
      background-color: white; }
    .navbar-main .navbar-nav .open .dropdown-menu > li > a {
      color: #484A49; }
    .navbar-main .navbar-nav .open .dropdown-menu > li > a:hover {
      background-color: rgba(255, 255, 255, 0.1);
      color: #28a55e; }
    .navbar-main .navbar-nav .open .dropdown-menu .divider {
      background-color: #efeff4; }
    .navbar-main .navbar-collapse {
      position: initial; }

  #navbar-team-toggle,
  #navbar-sidebar-toggle {
    display: none; }

  .navbar-right {
    margin-right: 0; }

  .navbar-lower,
  .sec-chat,
  .sec-jump-back {
    left: 230px;
    /* $sidebar-width*/
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease; }

  /* --- SIDEBAR --- */
  #wrapper {
    padding-left: 230px; }

  #wrapper.toggledTeams {
    padding-left: 0; }

  #sidebar-wrapper {
    width: 230px; }

  #wrapper.toggledTeams #sidebar-wrapper {
    width: 0; }

  #page-content-wrapper {
    padding: 20px;
    position: relative; }

  #wrapper.toggledTeams #page-content-wrapper {
    position: relative;
    margin-right: 0; }

  /* --- CHAT --- */
  .sec-chat {
    background-color: #efeff4;
    padding: 16px;
    border-top: 1px solid #c8c7cc; }
    .sec-chat .comment-form textarea {
      border: none;
      -webkit-box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.25);
      -moz-box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.25);
      box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.25); }

  .sec-jump-back {
    bottom: 111px; }

  /* --- BUBBLE --- */
  .bubble {
    width: auto;
    min-width: initial;
    max-width: 60%; }

  /* --- MODAL --- */
  .modal-dialog {
    width: 100%; }

  .sec-filter {
    left: 230px;
    height: 210px; }
    .sec-filter .form-group {
      margin-bottom: 15px; }
    .sec-filter .search-keyword-group {
      width: 100%; }
    .sec-filter .filter-icon {
      margin-left: 0.8em;
      margin-right: 0.8em;
      width: 2.5%;
      top: 0; }
    .sec-filter .user-icon {
      text-align: center;
      margin-right: 0.5em;
      margin-left: 0.5em;
      width: 3%; }
    .sec-filter .start-date {
      width: 20%; }
      .sec-filter .start-date input {
        width: 100% !important; }
    .sec-filter .to-date {
      width: 5%;
      font-size: 1.2em;
      text-align: center;
      position: relative;
      top: 1px; }
    .sec-filter .end-date {
      width: 20%; }
      .sec-filter .end-date input {
        width: 100% !important; }
    .sec-filter .bootstrap-select {
      width: 36% !important; }
    .sec-filter .token-div {
      width: 90%; }
    .sec-filter .checkbox {
      margin-top: 1em;
      margin-right: 1em; }
    .sec-filter .filter-buttons {
      margin-top: 0.5em;
      display: inline-block;
      text-align: initial; }
    .sec-filter .btn {
      min-width: 100px; }

  /* ---- Weather Section ---- */
  .sec-weather {
    padding: 32px; }
    .sec-weather .weather-condition-icon {
      font-size: 5.2em; }
    .sec-weather .weather-condition {
      font-size: 3.8em; }
    .sec-weather .weather-location {
      font-size: 1.2em; }
    .sec-weather .weather-temperature .weather-temperature-number {
      font-size: 6.2em;
      font-weight: 300; }
    .sec-weather .weather-temperature .weather-degree {
      font-size: 3em; }
    .sec-weather .weather-others {
      margin-top: 16px;
      font-size: 1.2em;
      font-weight: 400; }

  /* -------- Global Search ---------- */
  #modal-global-search .label-photo,
  #modal-global-search .label-video,
  #modal-global-search .label-counting {
    position: initial;
    top: 0px;
    border-radius: 0.25em; } }
/* Medium devices (desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .modal-dialog {
    width: 100%; }

  .sec-filter .user-icon {
    text-align: center;
    margin-right: 0.8em;
    margin-left: 0.8em;
    width: 2%; }
  .sec-filter .bootstrap-select {
    width: 38% !important; }
  .sec-filter .btn {
    min-width: 120px; }

  .sec-weather {
    padding: 32px; }
    .sec-weather .weather-condition-icon {
      font-size: 6em; }
    .sec-weather .weather-condition {
      font-size: 4em; }
    .sec-weather .weather-location {
      font-size: 1.4em; }
    .sec-weather .weather-temperature .weather-temperature-number {
      font-size: 6.8em;
      font-weight: 300; }
    .sec-weather .weather-temperature .weather-degree {
      font-size: 3em; }
    .sec-weather .weather-others {
      margin-top: 16px;
      font-size: 1.4em;
      font-weight: 400; } }
/* Large devices (large desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .modal-dialog {
    width: 100%; }

  .sec-filter {
    height: 150px; }
    .sec-filter .start-date {
      width: 13%; }
    .sec-filter .to-date {
      width: 1.5%; }
    .sec-filter .end-date {
      width: 13%; }
    .sec-filter .filter-icon {
      width: auto;
      margin-left: 5px; }
    .sec-filter .token-div {
      width: 94%; }
    .sec-filter .user-icon {
      text-align: center;
      margin-right: 0.6em;
      margin-left: 0.6em;
      width: 1.5%; }
    .sec-filter .bootstrap-select {
      width: 15% !important; }
    .sec-filter .checkbox {
      margin-top: 0px;
      margin-right: 0px;
      padding-left: 15px; }
    .sec-filter .filter-buttons {
      margin-top: 0px;
      float: right;
      position: relative;
      right: 2%; }
    .sec-filter .btn {
      min-width: 100px;
      margin-top: 0px; }

  /* --- MODAL NOTE --- */
  .modal-note {
    width: 80%;
    margin: 0 auto; }
    .modal-note .modal-lg {
      margin: 30px auto;
      height: auto; }
    .modal-note .modal-header {
      position: relative; }
    .modal-note .modal-body {
      position: relative;
      margin-top: 0; }

  /* --- CAROUSEL --- */
  .modal-carousel {
    width: 90%;
    margin: 0 auto; }
    .modal-carousel .modal-lg {
      margin: 30px auto; }

  .carousel-inner {
    height: 90vh; }

  .carousel-control {
    visibility: hidden;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
    filter: alpha(opacity=0);
    opacity: 0;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease; }

  .carousel-control.left,
  .carousel-control.right {
    background-image: none;
    filter: none; }

  .carousel:hover .carousel-control {
    visibility: visible;
    opacity: 0.5;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease; }

  .carousel:hover .carousel-control:hover,
  .carousel:hover .carousel-control:focus {
    filter: alpha(opacity=90);
    opacity: .9;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease; }

  .carousel-caption {
    visibility: hidden;
    opacity: 0;
    overflow: hidden;
    background-color: rgba(28, 31, 29, 0.98);
    text-align: left;
    font-size: 1.2em;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
    left: 0;
    right: 0;
    bottom: 0;
    padding: 32px;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease; }

  .carousel:hover .carousel-caption {
    visibility: visible;
    opacity: 1;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease; } }
