/*-------------------------------------------
              MEDIA QUERIES
---------------------------------------------*/
@import 'variables';

/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */
@media only screen and (min-width: 768px) {

    h1,
    .cd-headline {
        font-size: 2.6em;
    }

    h2 {
        font-size: 2.4em;
    }

    h3 {
        font-size: 1.3em;
    }

    h4 {
        font-size: 1.2em;
    }

    h5 {
        font-size: 1.3em;
    }

    p {
        font-size: 1.2em;
    }

    blockquote {
        p {
            font-size: 1.2em;
        }      
    }

    .navbar {
        .navbar-collapse {
            background-color: transparent;
        }

        .navbar-nav {
            height: auto;
        }

        .navbar-nav li {
            height: auto;
        }

        .navbar-nav > li > a {
            padding-top: 12px;
            padding-bottom: 18px;
            font-size: 1.0em;
        }

        .navbar-nav > li > a.btn {
            padding-top: 10px;
            padding-bottom: 10px;
            margin-left: 20px;
        }
    }

    .img-logo-name-white,
    .img-logo-name-color {
        height: 20px;
    }

    .navbar-transparent,
    .navbar-white,
    .navbar-aqua {
        .navbar-brand {
            padding: 26px 15px;
        }

        .navbar-nav > li > a {
            padding-top: 22px;
            padding-bottom: 28px;
        }

        .navbar-nav > li > a.btn {
            margin-top: 10px;
            margin-bottom: 10px;
        }
        
        .navbar-collapse {
            @include box-shadow(none);
        }
    }

    .navbar-transparent {
        .img-logo-name-white {
            display: inline-block;
        }

        .img-logo-color,
        .img-logo-white,
        .img-logo-name-color {
            display: none;
        }

        .navbar-nav > li > a {
            color: rgba(white,0.6);
            // @include transition ($transition);
        }

        .navbar-nav > li > a:hover,
        .navbar-nav > li > a:focus {
            color: rgba(white,1);
            background-color: transparent;
            // @include transition ($transition);
        }

        .navbar-nav > li > a.active {
            color: rgba(white,0.8);
            border-bottom: 3px solid rgba($mainAqua, 1);
        }
    }

    .navbar-white {
        .img-logo-name-color {
            display: inline-block;
        }

        .img-logo-color,
        .img-logo-white,
        .img-logo-name-white {
            display: none;
        }

        .navbar-nav > li > a.active {
            border-bottom: 3px solid rgba($mainAqua, 1);
        }
    }

    // .navbar-aqua {
    //     .img-logo-name-white {
    //         display: inline-block;
    //     }

    //     .img-logo-color,
    //     .img-logo-white,
    //     .img-logo-name-color {
    //         display: none;
    //     }

    //     .navbar-nav > li > a.active {
    //         color: rgba(white,0.8);
    //         border-bottom: 2px solid rgba(white, 1);
    //     }
    // }


    .navbar-scroll {
        padding: 0px 0;

        .img-logo-name-color {
            display: inline-block;
        }

        .img-logo-color,
        .img-logo-white,
        .img-logo-name-white {
            display: none;
        }

        .navbar-brand {
            padding: 17px 15px;
        }
        
        .navbar-nav > li > a {
            padding-top: 12px;
            padding-bottom: 18px;
            color: $darkGrey;
        }

        .navbar-nav > li > a:hover,
        .navbar-nav > li > a:focus {
            color: $darkGrey;
            background-color: transparent;
            // @include transition ($transition);
        }

        .navbar-nav > li > a.active {
            color: $darkGrey;
            border-bottom: 3px solid rgba($mainAqua, 1);
        }

        .navbar-nav > li > a.btn {
            margin-top: 0px;
            margin-bottom: 0px;
        }
        
        .navbar-collapse {
            @include box-shadow(none);
        }
    }

    .navbar-nav {
        padding: 7.5px 15px 0 15px;
    }

    header {
        padding-top: $margin-desktop * 2;
        min-height: 500px;

        h1 {
            margin-top: $margin-desktop/2;
        }
    }

    header#header-hr,
    header#header-sales,
    header#header-pricing {
/*        background-size: 200% auto;*/
        h1 {
            min-height: initial;
        }
    }

    header#header-hr {
        background: url(../img/hero-img-hr.jpg) no-repeat center center fixed; 
        background-size: cover;
        .background {
            display: none;
        }
            // .carousel {
        //     .item {
        //         img {
        //             width: 80%;
        //         }
        //     }

        //     .carousel-gif {
        //         img {
        //             width: 100%;
        //         }
        //     }
        // }
    }

    header#header-pricing {
        padding-top: $margin-desktop * 2;
        min-height: 500px;
    }

    header#header-local {
        padding-top: 70px;

        h1 {
            font-size: 2.4em;
            margin-top: 100px;
        }

        h4 {
            font-size: 1em;
            margin-bottom: 20px;
        }

        img {
            max-height: 220px;
            // margin-bottom: 40px;
        }
    }

    .sec-email {
        padding-top: $margin-desktop * 2;
        padding-bottom: $margin-desktop * 2;
    }

    #sec-apps,
    #sec-pricing {
        padding-top: $margin-desktop * 2;
        padding-bottom: $margin-desktop;
    }
    
    #sec-analytics {
        .analytics-content {
            left: 50%;
            // transform: translate(-50%, 0);
            @include translate ($translateX, $translateY);
        }
    }

    .myChart-container {
        padding-top: 180px;
    }
    
    .sec-features {
        padding-bottom: 0;
        
        h2 {
            margin-bottom: 70px;
        }
        .block-feature {
            min-height: 120px;
            padding-bottom: 0px;
        }
    }

    .notification-content {
        margin-top: 8px;
    }

    .sec-case-study-quote {
        .blockquote-container {
            margin-left: 0px;
            margin-top: 18%;
        }
    }

    .sec-local-screen {
        img {
            width: 60%;
        }
    }

    #sec-privacy {
        padding-top: $margin-desktop * 1.5;
        padding-bottom: $margin-desktop;
    }

    footer {
        padding-bottom: 0px;

        .footer-logo {
            width: 180px;
            padding: 15px 0px 0px 0px;
            float: left;
        }

        .footer-copyright {
            clear: both;
            float: left;
            text-align: left;
            font-size: 0.8em;
            font-weight: 400;
            color: white;
            margin-top: 5px;
            
            a {
                color: white;
            }

            a:hover,
            a:focus {
                color: $mainAqua;
            }
        }
        
        .footer-nav {
            float: right;
            text-align: right;
            font-size: 0.9em;
            margin-top: 5px;

            ul {
                padding-left: 0;

                li {
                    display: inline-block;
                    text-align: right;

                    a {
                        color: white;
                        font-weight: 400;
                    }

                    a:hover,
                    a:focus {
                        color: $mainAqua;
                    }
                }

                li:not(:first-child) {
                    padding-left: 20px;
                }
            }
        }

        .footer-social-media {
            float: right;
            text-align: right;
            font-size: 1.6em;
            padding-top: 16px;

            ul {
                padding-left: 0;
                margin-bottom: 0;

                li {
                    display: inline-block;
                    text-align: right;
                    margin-bottom: 0;

                    a {
                        color: white;
                    }

                    a:hover,
                    a:focus {
                        color: $mainAqua;
                    }
                }

                li:not(:first-child) {
                    padding-left: 10px;
                }
            }
        }
    }
}

/* Medium devices (desktops, 992px and up) */
@media only screen and (min-width: 992px) {

    h1,
    .cd-headline {
        font-size: 2.6em;
    }

    h2 {
        font-size: 2.4em;
    }

    h3 {
        font-size: 1.3em;
    }

    h4 {
        font-size: 1.2em;
    }

    h5 {
        font-size: 1.3em;
    }

    .navbar {
        .navbar-nav > li > a {
            font-size: 1.1em;
        }
    }
    .img-logo-white,
    .img-logo-color,
    .img-logo-name-white,
    .img-logo-name-color {
        height: 28px;
    }
    
    header {
        padding-top: $margin-mobile;

        h1 {
            margin-top: $margin-desktop;
            margin-bottom: 40px;
        }

        h4 {
            color: white;
            margin-bottom: $margin-desktop;
        }

        a.btn {
            display: block;
        }
    }

    header#header-hr,
    header#header-sales,
    header#header-pricing {
        /*background-size: 180% auto;*/
    }

    header#header-hr {
        .carousel {
            .item {
                img {
                    width: 60%;
                }
            }

            .carousel-gif {
                img {
                    width: 100%;
                }
            }
        }
    }

    header#header-local {

        h1 {
            margin-top: 100px;
        }

        h4 {

        }

        img {
            max-height: 250px;
            // margin-bottom: 40px;
        }
    }

    .sec-showcase {
        padding-bottom: $margin-desktop;

        h2 {
            margin-top: $margin-desktop;
        }

        h4 {
            margin-bottom: $margin-desktop;
        }
    }
    
    .sec-connect {
        #connect-content {
            position: absolute;
            left: 50%;
            // top: 50%;
            // transform: translate(-50%, 0);
            @include translate ($translateX, $translateY);
            z-index: 1;
        }

        .sec-download-badge {

            .download-badge-google {
                img {
                    height: 50px;
                }
            }

            .download-badge-apple {
                img {
                    height: 50px;
                }
            }

            // img {
            //  margin: 0 auto;
            //  height: 50px;
            // }
        }

        .particles-js-canvas-el {
            display: block;
        }
    }

    .myChart-container {
        padding-top: 120px;
    }

    #sec-steps {
        padding-bottom: 30px;

        img {
            margin: 50px auto;
        }
    }

    .sec-case-study-quote {
        .blockquote-container {
            margin-top: 22%;
        }
    }

    #sec-pricing {
        
        .panel-pricing {
            margin: 20px 0;
            padding: 10px 40px;
            min-height: 400px;
            color: white;
            @include border-radius($radius-large);

            h3,h4,p,span {
                color: white;
                text-align: center;
            }

            h3 {
                font-size: 1.4em;
                font-weight: 700;
            }
            
            .price-container {
                position: relative;
                text-align: center;
                margin-top: 40px;
                min-height: 120px;

                .price{
                    vertical-align: text-top;
                    font-size: 2.8em;
                    color: rgba(white,0.8);
                    text-shadow: -2px 2px 0px rgba(0, 0, 0, 0.08);
                }

                .price-highlight {
                    position: relative;
                    top: -20px;
                    font-size: 6em;
                    font-weight: 700;
                    color: white;
                }

                .price-suffix {
                    font-size: 1.6em;
                }

                .price-contact-us {
                    display: block;
                    margin-top: 76px;
                    font-size: 2em;
                    color: $lightGrey;
                    vertical-align: center;
                    text-shadow: none;
                }
            }
            
            .price-bill {
                display: block;
                min-height: 40px;
                font-size: 1.2em;
                font-size: 300;
            }

            .price-descr {
                display: block;
                margin: 10px 0;
                font-size: 1.2em;
            }

            .btn {
                display: block;
                width: 80%;
                margin: 40px auto;
                // text-transform: uppercase;
            }
        }
    }

    .sec-cta-signup {
        padding-top: $margin-desktop;
        padding-bottom: $margin-desktop;

        span {
            margin-top: $margin-desktop/2+12px;
            margin-bottom: $margin-desktop/2+12px;
        }
    }
}

/* Large devices (large desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    h1,
    .cd-headline {
        font-size: 2.8em;
    }

    h2 {
        font-size: 2.6em;
    }

    h3 {
        font-size: 1.4em;
    }

    h4 {
        font-size: 1.2em;
    }

    h5 {
        font-size: 1.4em;
    }

    header#header-hr,
    header#header-sales,
    header#header-pricing {
/*        background-size: 150% auto;*/
    }
    
    .myChart-container {
        padding-top: 100px;
    }

    .sec-case-study-quote {
        .blockquote-container {
            margin-top: 25%;
        }
    }

}